.interactive.pixel-grid {
    padding: 20px;
}

.div-square {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-color: black;
    border-radius: 0px;
    padding: 0.1rem;
    text-align: center;
    color: black;
    background-color: white;
}

.div-square.active {
    color: white;
    background-color: black;
}
