#add-bin, #reset {
	float:left;
	margin-top: 15px;
}

.btn, .btn:hover {
	margin-top:10px;
	padding: 0 0.75rem;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
}

.fill {
	border-right: 1px white solid;
}

.item p {
	font-size: 9px;
	text-align:left;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2px;
	color: white;
}

.left-bin p, .right-bin p {
	font-size: 9px;
	text-align:left;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2px;
	color: white;
}

.right-bin {
	float: right;
	margin-right: 2px;
	position: absolute;
	right: 0px;
}

.left-bin {
	float: left;
	position: absolute;
}

.bin {
	background-color: #bec5c7;
	margin-top: 10px;
	height: 40px;
	position: relative;
	z-index: -1;
}

.fill {
	background-color: #007bff;
	display: inline-block;
	height: 40px;
}

.item {
	background-color: #007bff;
	display: inline-block;
	height: 40px;
	margin-right: 10px;
}

.buttons {
	height: 100%;
	margin-top: 0.83em;
}

.small-text {
	font-size: 10px;
}

#items_area {
	margin-bottom: 20px;
}

#reset {
	margin-left: 5px;
	float: right;
}

#new {
	margin-top: 15px;
	margin-bottom: 5px;
	width: 100%;
	max-width: 200px;
}

.draggable {
	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
