{% load static %}

{% block content %}
<div class="interactive" id="interactive-high-score-boxes">
<h1>High Score Boxes</h1>
<p>What is the largest number in the boxes? </p>
<div class="row">
	<div class="col s12">
		<div id="box_holder_div">
		</div>
	</div>
	<div class="col s12">
		<form name="myForm"  action="congratulations.html"
		onsubmit="return validateForm()" method="post" >
		<input type="text" id="answerTextForm" placeholder="Enter answer here..." name="submittedInt">
		<input type="submit"  value="Submit">
		</form>

		<p id="completionMessage"> </p>
		<button id="restartButton" class="btn btn-large">Restart</button>
	</div>

</div>
{% endblock %}
