:root {
    --severity: 0;

    /* Distant clouds shake less than the cockpit */
    --clouds-multiplier: 0.25;
}

#cockpit {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#clouds {
    animation: shake-clouds 1s;
    animation-iteration-count: infinite;
}


@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes shake {
    0% { transform: translate(calc(var(--severity) * 1px), calc(var(--severity) * 1px)) }
    10% { transform: translate(calc(var(--severity) * -1px), calc(var(--severity) * -2px)) }
    20% { transform: translate(calc(var(--severity) * -3px), calc(var(--severity) * 0px)) }
    30% { transform: translate(calc(var(--severity) * 3px), calc(var(--severity) * 2px)) }
    40% { transform: translate(calc(var(--severity) * 1px), calc(var(--severity) * -1px))}
    50% { transform: translate(calc(var(--severity) * -1px), calc(var(--severity) * 2px))}
    60% { transform: translate(calc(var(--severity) * -3px), calc(var(--severity) * 1px))}
    70% { transform: translate(calc(var(--severity) * 3px), calc(var(--severity) * 1px))}
    80% { transform: translate(calc(var(--severity) * -1px), calc(var(--severity) * -1px))}
    90% { transform: translate(calc(var(--severity) * 1px), calc(var(--severity) * 2px))}
    100% { transform: translate(calc(var(--severity) * 1px), calc(var(--severity) * -2px))}
}

@keyframes shake-clouds {
    0% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * 1px), calc(var(--severity) * var(--clouds-multiplier) * 1px)) }
    10% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * -1px), calc(var(--severity) * var(--clouds-multiplier) * -2px)) }
    20% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * -3px), calc(var(--severity) * var(--clouds-multiplier) * 0px)) }
    30% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * 3px), calc(var(--severity) * var(--clouds-multiplier) * 2px)) }
    40% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * 1px), calc(var(--severity) * var(--clouds-multiplier) * -1px))}
    50% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * -1px), calc(var(--severity) * var(--clouds-multiplier) * 2px))}
    60% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * -3px), calc(var(--severity) * var(--clouds-multiplier) * 1px))}
    70% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * 3px), calc(var(--severity) * var(--clouds-multiplier) * 1px))}
    80% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * -1px), calc(var(--severity) * var(--clouds-multiplier) * -1px))}
    90% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * 1px), calc(var(--severity) * var(--clouds-multiplier) * 2px))}
    100% { transform: translate(calc(var(--severity) * var(--clouds-multiplier) * 1px), calc(var(--severity) * var(--clouds-multiplier) * -2px))}
}

text {
    pointer-events: none;
}

#buttons > g,
#buttons > path {
    cursor: pointer;
}

#buttons > *,
#dials > * {
    cursor: pointer;
}
