.code {
  font-family: monospace;
  font-weight: normal;
  font-size: .9rem !important;
  background-color: #263238;
  color: #fff;
  padding: 0.3rem !important;
  overflow: auto;
  width: 100%;
}
textarea.code {
  height: 30rem;
}
textarea.code#mips_keyInput {
  height: 5rem;
}
.footer {
  padding: 1rem;
}
.btn-expand {
  width: 100%;
}
.scroll {
  overflow-y: scroll;
}