// Settings
$correct-colour: #28a745;
$incorrect-colour: #e74c3c;

#product-code-tester-interactive {
    #button-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 1rem 0;

        button {
            margin: 0 1rem;

            &.selected {
                background-color: $correct-colour;
                border-color: $correct-colour;
                opacity: 1;
            }
        }
    }

    .product-code-digit {
        font-family: monospace;
        font-size: 2rem;
        color: black;
    }

    #multiplication-grid {
        display: grid;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        margin: 1rem 0;

        & > div.middle-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            .middle-row-arrow {
                font-size: 3rem;
                line-height: 1rem;
                width: 0.6ch;
                margin-left: 0.2ch;
            }
            .middle-row-label {
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .modulo-label {
                    visibility: hidden;
                    white-space: nowrap;
                    font-size: 0.7rem;
                }
            }

        }
        & > div.bottom-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .bottom-row-symbol {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.8rem;
                font-family: monospace;
                height: 100%;
                visibility: hidden;
            }

        }
        #multiplication-sum {
            width: 100%;
            text-align: right;
            padding-right: 0.2ch;
        }
        &.show-modulo .modulo-label {
            visibility: visible !important;
        }
        &.step-four .bottom-row-symbol {
            visibility: visible !important;
        }

        #subtraction-equation {
            text-align: right;
        }

        input {
            text-align: center;
        }
    }

    input {
        z-index: 80;
        padding: 0;
        width: 2.5ch;
        border-width: 1px;
        border-radius: 3px;
        border-style: inset;

        &.correct {
            border: 1px solid $correct-colour;
            background-color: lighten($correct-colour, 50%);
        }
        &.incorrect {
            border: 1px solid $incorrect-colour;
            background-color: lighten($incorrect-colour, 20%);
        }
    }

    #barcode-image-container {
        display: flex;
        justify-content: center;

        & > div {
            position: relative;
            max-width: min-content;

            #barcode-image-hider {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 3rem;
                color: #ccc;
                background-color: #f8f9fa;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
            }
        }
    }

    #instructions {
        text-align: center;
    }
    #restart-button {
        margin: 1rem;
    }
    [disabled] {
        cursor: not-allowed;
    }
}
