#product-code-tester-interactive {

    #button-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 1rem 0;

        button {
            margin: 0 1rem;

            &.selected {
                background-color: #28a745;
                border-color: #28a745;
                opacity: 1;
            }
        }
    }

    .product-code-digit {
        font-family: monospace;
        font-size: 2rem;
    }

    #checker-grid {
        // Testing
        border: 1px solid cyan;
        min-height: 10rem;
        // End of testing*

        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        margin: 1rem 0;

        input {
            width: 100%;
            text-align: center;
        }
        div.input-space-after {
            margin-right: 1.5rem;
        }
    }

    #barcode-image-container {
        display: flex;
        justify-content: center;

        & > div {
            position: relative;
            max-width: min-content;

            #barcode-image-hider {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #f8f9fa;
            }
        }
    }

    #restart-button {
        margin: 1rem;
    }
}
