.tile {
  border: 1px solid #555;
}
.black {
  background-color: black;
}
.delayed {
  background-color: rgba(144, 255, 0, 0.72);
}
#delay-grid {
  border: 1px solid black;
  background-image: url('../img/background-image.jpg');
  background-size: cover;
  margin-bottom: 1rem;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height:30px;
}
.flex-item {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height:auto;
}
.flex-item:before {
  content:'';
  float:left;
  padding-top:100%;
}
#footer {
  padding-top: 2rem;
  color: grey;
}
#footer > p {
  font-size: 0.8rem;
}
