#add-city {
  background-color: #ff7043;
  border-color: #ff7043;
}

#cy {
  width: 500px;
  height: 500px;
  display: block;
  border-left: 2px solid #c6c8ca;
}

#graph-container {
  width: 100%;
  height: 100%;
}

#graph-container-2 {
  width: 100%;
  height: 100%;
}

#cy2 {
  width: 500px;
  height: 500px;
  display: block;
  border-left: 2px solid #c6c8ca;
}

.graph {
  width: 500px;
}

.graph:after {
  content: ' ';
  display: block; 
  position: relative;
  border: 1px solid #c6c8ca;
}

.tick {
  border-left: 2px solid #c6c8ca;
  height: 10px;
  position: absolute;
}

.tick:nth-child(1)  { left: 15px;  }
.tick:nth-child(2)  { left: 115px;  }
.tick:nth-child(3)  { left: 215px; }
.tick:nth-child(4)  { left: 315px; }
.tick:nth-child(5)  { left: 415px; }
.tick:nth-child(6)  { left: 515px; }

.tick > span {
  position: relative;
  width: 10px; left: -10px; top: 18px;
  font: 0.75em Arial, Helvetica, sans-serif;
}

.tick.zero > span {
  margin-left: 5px;
}

.y-tick {
  border-top: 2px solid #c6c8ca;
  width: 10px;
  position: absolute;
}

.y-tick:nth-child(1)  { top: 0px; left: 7px; }
.y-tick:nth-child(2)  { top: 100px; left: 7px; }
.y-tick:nth-child(3)  { top: 200px; left: 7px;}
.y-tick:nth-child(4)  { top: 300px; left: 7px;}
.y-tick:nth-child(5)  { top: 400px; left: 7px;}
.y-tick:nth-child(6)  { top: 500px; left: 7px;}

.y-tick > span {
  position: relative;
  width: 10px; top: -14px; right: 22px;
  font: 0.75em Arial, Helvetica, sans-serif;
}

.y-tick.zero > span {
  margin-top: 5px;
}

.status-ready {
  color: #007bff;
}

.status-stopped {
  color: #dc3545;
}

.status-running {
  color: #ff7043;
}

.status-complete {
  color: #28a745;
}
