$total-height: 300px; // Make a multiple of 6 for simplicity

.bordered {
    border: 4px solid;
}

.bordered.left-bordered {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.bordered.bottom-bordered {
    border-right: none;
    border-top: none;
    border-left: none;
}

.size-half {
    height: calc( #{$total-height} / 2 );
}

.size-five-sixths {
    height: calc( #{$total-height} * 5 / 6 );
}

.size-one-sixth {
    height: calc( #{$total-height} / 6 );
}

.center-text {
    line-height: calc( #{$total-height} / 6 );
    vertical-align: middle;
}

.big-text {
    line-height: $total-height;
    font-size: 64pt;
}