#interactive-trainsylvania {
  overflow: hidden;
}

#interactive-trainsylvania-image-link {
  display: none;
}

#interactive-trainsylvania-image-div {
  min-height: 6rem;
  position: relative;
  margin-bottom: 2em;
}

img.interactive-trainsylvania-image {
  display: none;
  position: absolute;
  margin: auto;
  vertical-align: middle;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 120px;
}

#interactive-trainsylvania-train-success {
  display: none;
}
