@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

canvas {
  margin: auto;
}

table, th, td {
  margin: auto;
  font-family: monospace;
  text-align: center;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #000;
  border-collapse: collapse;
}

#data-vis-results, #data-vis-game {
  position: relative;
  margin: auto;
  max-width: 800px;
}

@include media-breakpoint-down(md) {
  table, th, td {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
