#interactive-data-visualisation {
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
}

#data-vis-title {
  font-size: 2rem;
}

canvas {
  margin: auto;
}

table, th, td {
  margin: auto;
  font-family: monospace;
  text-align: center;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #000;
  border-collapse: collapse;
}
