@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

#data-vis-title {
  font-size: 2rem;
}

canvas {
  margin: auto;
}

table, th, td {
  margin: auto;
  font-family: monospace;
  text-align: center;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #000;
  border-collapse: collapse;
}

@include media-breakpoint-down(sm) {
  table, th, td {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
