{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ interactive.name }}
{% endblock title %}

{% block body %}
  {% if not interactive.translation_available %}
    {% with model=interactive %}
      {% include 'generic/not-available-warning.html' %}
    {% endwith %}
  {% else %}
    <style>
      body {
        padding-top: 0 !important;
        background-color: transparent !important;
      }
    </style>
    <div id="csfg-center-page-content" class="interactive d-flex align-items-center justify-content-center" style="height: 100vh;">
      {% block interactive_html %}
      {% endblock interactive_html %}
    </div>

    {% block interactive_css %}
    {% endblock interactive_css %}

    {% block interactive_js %}
    {% endblock interactive_js %}
  {% endif %}
{% endblock body %}
