{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ interactive.name }}
{% endblock title %}

{% block body %}
  <style>
    body { padding-top: 0 !important; }
  </style>
  <div class="interactive">
    {% block html %}
    {% endblock html %}
  </div>

  {% block css %}
  {% endblock css %}

  {% block js %}
  {% endblock js %}

  {% include "generic/core-js.html" %}
  <script src="{% static 'js/third-party/iframeResizer.contentWindow.min.js' %}"></script>
{% endblock body %}
