html{
	font-family: "Roboto",sans-serif;
}

body {
	margin: 0px;
}

h1 {
	text-align: center;
}

input {
	text-align: center;
	font: 1rem "Courier New", monospace;
}


#interactive-lzss {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px;
	
	#interactive-lzss-left-box,
	#interactive-lzss-right-box {
		width: 100%;
		margin: 10px;
	}

	#interactive-lzss-left-box #interactive-lzss-input-text textarea {
		border: none;
		min-width: 45%;
		max-width: 100%;
		min-height: 120px;
	}
	
	#interactive-lzss-left-box #interactive-lzss-input-text textarea,
	#interactive-lzss-right-box #interactive-lzss-compressed-text {
		width: 100%;
		font: 1rem "Courier New", monospace;
		padding: 3px;
		border: 1px solid #BFB9B7;
	}

	#interactive-lzss-left-box {
		button {
			float: right;
			color: #FFF;
			background-color: #FF7043;
			text-align: center;
			transition: .2s ease-out;
			padding: 0.5rem;
			border: none;
			margin-right: -6px;
		}
	}

	#interactive-lzss-right-box {
		#interactive-lzss-compressed-text {
			background-color: #FFF;
			font-weight: bold;
			.interactive-lzss-encoded-line {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				min-height: 25px;
			}
			.interactive-lzss-encoded-character,
			input.interactive-lzss-placeholder-box {
				display: inline-block;
				min-width: 10px;
				min-height: 1.2rem;
				// background-color: red;
				margin: 1px;
			}
			.interactive-lzss-reference {
				display: flex;
				flex-wrap: wrap;
				margin: 2px;
				padding: 2px;
				input.interactive-lzss-placeholder-box {
					width: 1rem;
				}
			}
		}
	}
	
	#interactive-lzss-left-box #interactive-lzss-input-text textarea,
	#interactive-lzss-left-box button,
	#interactive-lzss-right-box #interactive-lzss-compressed-text {
		border-radius: 2px !important;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
	}
}

.highlight {
	outline: 2px solid #85c1dd;
    outline-offset: 0.5px;
}

.selected {
	outline: 2px solid #aedd85;
    outline-offset: 0.5px;
}
