$shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$border: 1px solid #BFB9B7;

html {
    font-family: "Roboto",sans-serif;
}

body {
    margin: 0px;
}

h1 {
    text-align: center;
}

#interactive-compression-dictionary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    height: 100vh;
    #interactive-compression-dictionary-left,
    #interactive-compression-dictionary-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
    }
    #interactive-compression-dictionary-left {
        .interactive-compression-dictionary-to-compress-block {
            textarea {
                border: none;
                width: 100%;
                font: 1rem "Courier New", monospace;
                border: $border;
                min-height: 5em;
                box-sizing: border-box;
            }
            #interactive-compression-dictionary-output {
                .interactive-compression-dictionary-output-line {
                    height: 2em;
                    p.interactive-compression-dictionary-message-character {
                        display: inline-block;
                        min-width: 10px;
                        margin: 1px;
                    }
                }
            }
        }
    }
    #interactive-compression-dictionary-right {
        overflow: hidden;
        position: relative;
        #interactive-compression-dictionary-user-dictionary {
            display: flex;
            overflow: scroll;
            border-radius: 2px !important;
            .interactive-compression-dictionary-user-dictionary-column {
                width: 50%;
                margin: 2px;
            }
            .interactive-compression-dictionary-user-dictionary-entry {
                margin: 2px 0;
                p {
                    display: inline-block;
                    margin: 3px;
                }
                .interactive-compression-dictionary-user-dictionary-code {
                    width: 2rem;
                }
            }
        }
    }
    #interactive-compression-dictionary-left textarea,
    #interactive-compression-dictionary-left #interactive-compression-dictionary-output,
    #interactive-compression-dictionary-user-dictionary {
        border: $border;
        box-shadow: $shadow;
        padding: 5px;
        font-family: "Courier New", monospace !important;
    }
}


.highlight {
    // outline: 3px solid #FF7043;
    background-color: #aedd85; //85c1dd;
    outline-offset: 0.5px;
}
