$shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$border: 1px solid #BFB9B7;
$green: #aedd85;
$blue: #85c1dd;

html {
    font-family: "Roboto",sans-serif;
}

body {
    margin: 20px;
}

h1 {
    text-align: center;
}

#interactive-compression-dictionary {
    #interactive-compression-dictionary-activity {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5px;
        height: 100vh;
        #interactive-compression-dictionary-left,
        #interactive-compression-dictionary-right {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 10px;
        }
        #interactive-compression-dictionary-left {
            flex-basis: 140%;
            textarea {
                border: none;
                width: 100%;
                font: 1rem "Courier New", monospace;
                border: $border;
                min-height: 5em;
                box-sizing: border-box;
                box-shadow: $shadow;
                margin-bottom: 10px;
            }
            button {
                color: #FFF;
                background-color: #FF7043;
                text-align: center;
                transition: .2s ease-out;
                padding: 0.5rem;
                border: none;
                width: 100%;
                box-shadow: $shadow;
            }
            p {
                margin-top: 0px;
            }
            #interactive-compression-dictionary-output {
                flex-grow: 1;
                overflow: scroll;
                .interactive-compression-dictionary-output-line {
                    height: 2em;
                    p.interactive-compression-dictionary-message-character {
                        display: inline-block;
                        min-width: 10px;
                        margin: 1px;
                        &.highlight {
                            background-color: $green;
                            outline-offset: 0.5px;
                        }
                        &.border {
                            background-color: $blue !important;
                        }
                    }
                }
            }
        }
        #interactive-compression-dictionary-right {
            overflow: hidden;
            position: relative;
            #interactive-compression-dictionary-user-dictionary-entry-input {
                margin-bottom: 10px;
                #interactive-compression-user-dictionary-entry-input-row {
                    display: flex;
                    p {
                        margin-right: 10px;
                    }
                    input {
                        flex: 1;
                        padding: 4px;
                        border: 1px solid #BFB9B7;
                        margin: 1px;
                        font: 1rem "Courier New", monospace !important;
                        box-shadow: $shadow;
                    }
                    input.error {
                        border-color: red !important;
                    }
                    input:focus.error {
                        outline: 1px solid red;
                    }
                }
                #error-message {
                    display: block;
                    font-size: 0.8rem;
                    text-align: center;
                    color: red;
                    &.hide {
                        display: none;
                    }
                    &.show {
                        display: block;
                    }
                    .error-message {
                        display: inline-block;
                    }
                }
            }
            #interactive-compression-dictionary-user-dictionary {
                flex-grow: 1;
                display: flex;
                overflow: scroll;
                border-radius: 2px !important;
                .interactive-compression-dictionary-user-dictionary-column {
                    width: 50%;
                    margin: 2px;
                }
                .interactive-compression-dictionary-user-dictionary-entry {
                    margin: 2px 0;
                    &:hover {
                        border: 2px solid $blue;
                    }
                    p {
                        display: inline-block;
                        margin: 3px;
                    }
                    &.highlight {
                        outline: 3px solid $blue;
                        outline-offset: 0.5px;
                    }
                    .interactive-compression-dictionary-user-dictionary-code {
                        width: 2rem;
                    }
                }
            }
        }
        #interactive-compression-dictionary-left textarea,
        #interactive-compression-dictionary-left #interactive-compression-dictionary-output,
        #interactive-compression-dictionary-user-dictionary {
            border: $border;
            padding: 5px;
            font-family: "Courier New", monospace !important;
        }
    }
}
