# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text
*.conf text
*.py text
*.html text
*.css text
*.js text

# Set third party folders and documentation to be ignored in GitHub linguist statistics
^.*third-party/ linguist-vendored
docs/* linguist-documentation
