# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text
*.conf text
*.py text
*.html text
*.css text
*.js text

# Set vendor folders to be ignored in linguist statistics
generator/scss/foundation/* linguist-vendored
