language: python

python:
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch

before_install:
  - pip install --upgrade pip setuptools

# Install dependencies for both screen and print versions
install:
  - pip install -r requirements.txt
  - pip install -r requirements-print.txt

# Creates the CSFG with print and teacher versions
script:
  - python generateguide.py -t

# Stop email notifications but post to Slack channel
notifications:
  email: false
  slack:
    rooms: deptfunstuff:abJKvzApk5SKtcEyAgtswXAv
    on_success: change
    on_failure: change
