Jinja2>=2.7.3              # Used for website templates
mistune>=0.7.2             # Used for parsing of Markdown text
beautifulsoup4>=4.4.0      # Used for editing of HTML trees
html5lib>=0.999999         # Used by Beautiful Soup library
pyScss>=1.3.4              # Used for creation of SCSS style sheets
Pygments>=2.1.1            # Used for code block syntax highlighting
PyYaml>=3.11               # Used for loading .yaml files
