{% extends "appendices/base.html" %}

{% load i18n %}

{% block title %}
  {% trans 'Curriculum Guides' %}
{% endblock title %}

{% block appendix_title %}
  {% trans 'Curriculum Guides' %}
{% endblock appendix_title %}

{% block content %}
  <p>
    {% blocktrans %}We currently provide guides for using the Computer Science Field Guide in the following curricula.
    We aim to provide guides for curricula all over the world, to aid educators and students on how to teach and learn Computer Science using the Computer Science Field Guide.{% endblocktrans %}
  </p>
{% endblock content %}
