{% extends "base.html" %}

{% block title %}
  Curriculum Guides
{% endblock title %}

{% block page_heading %}
  <h1>Curriculum Guides</h1>
{% endblock page_heading %}

{% block content %}
  <p>
    We currently provide guides for using the Computer Science Field Guide in the following curricula.
    We aim to provide guides for curricula all over the world, to aid educators and students on how to teach and learn Computer Science using the Computer Science Field Guide.
  </p>
{% endblock content %}
