#password-strength-brute {
	text-align: center;
}

#password-strength-brute-content {
	padding: 1%;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	border-top: 0.2vw solid;
	border-left: 0.2vw solid;
	border-right: 0.2vw solid;
}

#title-header {
    background-color: #3f51b5;;
    text-align: center;
    overflow: hidden;
    width: 100%;
    min-height: 4vh;
	color: white;
	border-left: 0.2vw solid black;
	border-right: 0.2vw solid black;
	border-top: 0.2vw solid black;
	box-sizing: border-box;
}

#password-strength-footnotes {
    background-color: #3f51b5;
    text-align: center;
    overflow: hidden;
    width: 100%;
	color: white;
	border: 0.2vw solid black;
	box-sizing: border-box;
}

#password-strength-brute-content a:link { color: blue; }
#password-strength-brute-content a:visited { color: blue; }
#password-strength-brute-content a:hover { color: red; }
#password-strength-brute-content a:active { color: blue; }
#password-strength-brute-content input{ text-align:center; }
#password-strength-brute-content input{ width:50%; }

#password-strength-footnotes a:link { color: cyan; }
#password-strength-footnotes a:visited { color: cyan; }
#password-strength-footnotes a:hover { color: red; }
#password-strength-footnotes a:active { color: cyan; }
