#password-strength-brute {
	text-align: left;
}

#password-strength-brute-content {
	width: 100%;
}

#crackingButtonContainer {
	padding-left: 5%;
}

#powerButtonContainer {
	padding-top: 1%;
	padding-bottom: 1%;
}

#password-strength-brute-content input{ width:120%; }
