#password-strength-brute {
	text-align: left;
}

#password-strength-brute-content {
	width: 100%;
}

#crackingButtonContainer {
	z-index: 10;
    position: relative;
    padding-left: 1%;
}

#powerButtonContainer {
	padding-top: 1%;
	padding-bottom: 1%;
}

#crackedStatus {
	padding-bottom: 1%;
}

#informationParagraph {
	padding-bottom: 1%;
}
