{% load static %}

<a href="{% url 'interactives:interactive' interactive.slug %}" class="link-item no-text-decoration d-block h-100 py-2 text-center{% if not interactive.translation_available %} unavailable{% endif %}">
  <img class="border-thin" src="{% static interactive_thumbnail %}" alt="Thumbnail of {{ interactive.name }} interactive">
  <p class="mb-0 mt-2">
    <strong>{{ interactive.name }}</strong>
    {% if not interactive.translation_available %}
      {% include "generic/not-available-badge.html" %}
    {% endif %}
  </p>
</a>
