.waterfall-process {
    border: 2px solid;
    padding: 20px;
    background-color: #ffffff;
}

.waterfall-title {
    font-size: 20pt;
}

.waterfall-box {
    border: 1px solid;
    font-size: 12pt;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #cfe2f3;
    position: relative;
}

.down-arrow {
    stroke: black;
}

.waterfall-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}