.waterfall-process {
    border: 2px solid;
    padding: 20px;
    background-color: #ffffff;
}

.waterfall-title {
    font-size: 20pt;
}

.waterfall-box {
    border: 1px solid;
    font-size: 12pt;
    line-height: 66px;
    text-align: center;
    background-color: #cfe2f3;
    position: relative;
}

.not-allowed-text {
    color: #666666;
    font-size: 12pt;
    text-align: center;
    position: relative;
    transform: translate(20px, 0px);
}

.arrow {
    stroke: #000000;
    stroke-width: 2px;
    fill: none;
    marker-end: url(#arrowhead);
}

.arrowhead {
    fill: #000000;
}

.arrow.up {
    stroke: #ff0000;
    marker-end: url(#up-arrowhead);
}

.arrowhead.up {
    fill: #ff0000;
}

.arrow.note {
    stroke: #666666;
    marker-end: url(#note-arrowhead);
}

.arrowhead.note {
    fill: #666666;
}

.waterfall-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

// This uninteractive is in an iframe, so bootstrap-defined screen sizes don't work well
@media screen and (max-width: 700px) {
    .waterfall-process {
        padding: 10px;
    }

    .waterfall-title {
        font-size: 16pt;
    }

    .waterfall-box {
        font-size: 10pt;
        line-height: 50px;
    }

    .not-allowed-text {
        font-size: 10pt;
        transform: translate(15px, 0px);
    }
}

@media screen and (max-width: 500px) {
    .waterfall-process {
        padding: 5px;
    }

    .waterfall-title {
        font-size: 12pt;
    }

    .waterfall-box {
        font-size: 8pt;
        line-height: 40px;
    }

    .not-allowed-text {
        font-size: 8pt;
        transform: translate(10px, 0px);
    }
}

@media screen and (max-width: 400px) {
    .waterfall-process {
        padding: 2px;
    }

    .waterfall-box {
        font-size: 6pt;
        line-height: 30px;
    }

    .not-allowed-text {
        font-size: 6pt;
        transform: translate(5px, 0px);
    }
}
