#interactive-deceiver {
	text-align: center;
}
.interactive-deceiver-text {
  font-size: 2em;
}
#interactive-deceiver-feedback-container {
  height: 3rem;
  margin: 0.5rem;
}
.interactive-deceiver-feedback {
	font-weight: bold;
}
#interactive-deceiver-timer {
	font-size: 1.5rem;
}
.interactive-deceiver-correct {
	color: green;
}
.interactive-deceiver-wrong {
	color: red;
}
