body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  width: 50%;
}

h1 {
  text-align: center;
}

h2 {
  display: inline;
  font-size: 14px;
}

p#info {
  margin-bottom: 10px;
}

div#input {
  margin: auto;
  width: 50%;
}
div#input input {
  width: 80px;
  font-family: monospace;
  display: inline;
}

div#input button {
  display: block;
  margin-top: 10px;
}

div#error {
  display: none;
  color: red;
  text-align: center;
}

div#output {
  margin: auto;
  margin-top: 20px;
  width: 60%;
}

div#sin-output, div#cos-output {
  display: block;
}

div#output p {
  font-family: monospace;
  display: inline;
}

div#output p#sin-result {
  display: inline;
}
