.stepper {
  position: relative;
  width: 100%;
  height: 30px;
  cursor: col-resize;
}

.stepper-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.stepper-number {
  position: relative;
  width: 100%;
  height: 28px;
  line-height: 28px;
  padding: 0 6px;
  color: black;
  background: transparent;
  border: 0;
  outline: 0;
  outline-offset: 0;
  cursor: col-resize;
  z-index: 2;
  border: none;
}

.stepper-number:focus {
  border: none;
}

.stepper.is-changing .stepper-progress {
  background-color: #1baee1;
}

.stepper.is-scrubbing {
  background: rgba(255, 255, 255, 0.8)
}

#little_drag_square {
  border: 2px solid #fd008c;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#big_image {
  position: relative;
  padding: 0px;
  height: 320px;
  width: 320px;
  float: left;
}

canvas{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}