table {
color: #FFF; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 400px;
height: 500px;
border-collapse:
collapse; border-spacing: 0;
}

.relative{
	position: relative;
	top: -550px;
	right: -550px;
}

td, th { border: 1px solid #CCC} /* Make cells a bit taller */

th {
background: #949494; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
text-align: center; /* Center our text */
}
