@import "node_modules/nouislider/distribute/nouislider";

#interactive-training-ground {
  max-width: 1000px;
}

#game-area{
  position: relative;
}

#data-table {
  td, th {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid;
  }
}

#splash-text {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 100;
  font-size: 2.5rem;
}

#button_cancel {
  position: absolute;
  top: 60%;
  left: 10%;
  z-index: 101;
}

#button_start {
  z-index: 102;
}

.stick-image-container {
  // Height & Width includes padding
  min-height: 132px;
  max-height: 132px;
  min-width: 51px;
  max-width: 51px;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.black-background {
  color: #ffffff;
  background-color: #111111;
}

.blue {
  background-color: #3f51b5;
}

.green {
  background-color: #28a745;
}

.red {
  background-color: #dc3545;
}
