#start-screen, #interactive-training-ground {
  max-width: 1000px;
}

// 1000px canvas + 15px margins
@media screen and (max-width: 1030px) {
  #start-screen {
    display: none;
  }
  #game-canvas {
    display: none;
  }
}

@media screen and (min-width: 1031px) {
  #ai-warning {
    display: none;
  }
}
