#interactive-training-ground {
  max-width: 1000px;
}

#game-area{
  position: relative;
  color: #ffffff;
  background-color: #111111;
  border: 1px solid;
}

#data-table {
  color: #ffffff;
  background-color: #111111;
  td, th {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid;
  }
}

#splash-text {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 100;
  font-size: 30pt;
}

.stick-image {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
