%shaking-button {
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

$main-area-height: 450px;

.btn-small {
  @extend %shaking-button;
  width: 15%;
  height: $main-area-height * 0.15;
}

.btn-medium {
  @extend %shaking-button;
  width: 25%;
  height: $main-area-height * 0.25;
}

.btn-large {
  @extend %shaking-button;
  width: 40%;
  height: $main-area-height * 0.4;
}

.stat strong {
  margin: 0;
  padding: 0;
}

#game-view-main-area {
  height: $main-area-height;
}