@media print {
  div#print-title-page {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    padding: 5rem;
    margin-bottom: 0;
    page-break-after: always;
    .page-title-subtitle {
      margin: 0;
      padding: 2rem;
      color: white;
      background-color: $secondary-color;
    }
  }
  .hide_for_print, header {
    display: none;
  }
  footer {
    h4 {
      -weasy-bookmark-level: none;
    }
    .container {
      padding-top: none;
      border: none !important;
      margin: 0;
    }
    .row {
      margin: 0;
    }
    color: $off-black;
    margin-top: none;
    .footer-first {
      background-color: white;
      .sponsor-logos {
        display: block;
        a img {
          display: block;
          max-width: 10rem;
        }
      }
    }
    .footer-second, .footer-third {
      color: $off-black;
      background-color: white;
      .version-number {
        display: none;
      }
    }
  }
  .print_link_box {
    border: 2px dashed color("orange", "base");
    background-color: color("orange", "lighten-4");
    padding: 0.75rem;
    font-size: 0.8rem;
    word-wrap: break-word;
    p {
      margin: 0;
    }
  }
  main, footer {
    padding-left: 0;
  }
  .page-title-header {
    margin-bottom: 1rem;
    page-break-before: always;
  }
  ul.panel {
    box-shadow: none !important;
    border-bottom: 1px solid #ddd;
    div.collapsible-header {
      min-height: inherit !important;
      & > div.dropdown-menu-arrow {
        display: none;
      }
    }
    div.collapsible-body {
      display: block !important;
      ul {
        padding-left: 40px;
        li {
          list-style-type: initial;
        }
      }
    }
  }
  img.responsive-img {
    max-width: 80%;
  }
  div.image-wrap {
    max-width: 35% !important;
  }
  .math-image-inline {
    display: inline;
    max-height: 1rem;
    vertical-align: middle;
    width: auto;
    margin-top: -3px;
  }
  .math-image-block {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }
  strong {
    font-weight: 700;
  }
  pre {
    font-size: 0.75rem !important;
    overflow-x: visible !important;
    white-space: pre-wrap;
  }
  // Header Styles
  .print-heading-1 {
    font-size: $h1-fontsize !important;
    line-height: 110% !important;
    margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0 !important;
  }
  .print-heading-2,
  .print-subtitle {
    font-size: $h2-fontsize !important;
    line-height: 110% !important;
    margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0 !important;
  }
  .print-heading-3,
  .print-second-subtitle {
    font-size: $h3-fontsize !important;
    line-height: 110% !important;
    margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0 !important;
  }
  .print-heading-4 {
    font-size: $h4-fontsize !important;
    line-height: 110% !important;
    margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0 !important;
  }
  .print-heading-5 {
    font-size: $h5-fontsize !important;
    line-height: 110% !important;
    margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0 !important;
  }
  .print-heading-6 {
    font-size: $h6-fontsize !important;
    line-height: 110% !important;
    margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0 !important;
  }
  h1, h6 {
    -weasy-bookmark-level: none;
  }
  h2, h3 {
    -weasy-string-set: chapter content();
  }
  @page {
    size: a4;
    @top-center {
      color: grey;
      content: string(chapter);
      font-size: 0.8rem;
    }
  }
  @page:right {
    @bottom-left {
      color: grey;
      content: $website;
      font-size: 0.8rem;
    }
    @bottom-right {
      color: grey;
      content: counter(page) " of " counter(pages);
      font-size: 0.8rem;
    }
  }
  @page:left {
    @bottom-left {
      color: grey;
      content: counter(page) " of " counter(pages);
      font-size: 0.8rem;
    }
    @bottom-right {
      color: grey;
      content: $title " - " $version_number;
      font-size: 0.8rem;
    }
  }
  @page:first {
    @top-center {
      content: normal;
    }
    @bottom-right {
      content: normal;
    }
    @bottom-left {
      content: normal;
    }
  }
}
@media screen {
  .hide_for_screen {
    display: none;
  }
}
