@media print {
  div#print-title-page {
    width: 100%;
    margin-top: 20%;
    text-align: center;
    padding: 4rem;
  }
  .hide_for_print, header {
    display: none;
  }
  .print_link_box {
    border: 2px dashed color("orange", "base");
    background-color: color("orange", "lighten-4");
    padding: 0 1rem;
    font-size: 0.9rem;
    word-wrap: break-word;
  }
  main, footer {
    padding-left: 0;
  }
  .page-title-header {
    margin-bottom: 1rem;
    page-break-before: always;
  }
  ul.panel {
    box-shadow: none !important;
    border-bottom: 1px solid #ddd;
    div.collapsible-header {
      min-height: inherit !important;
      & > div.dropdown-menu-arrow {
        display: none;
      }
    }
    div.collapsible-body {
      display: block !important;
      ul {
        padding-left: 40px;
        li {
          list-style-type: initial;
        }
      }
    }
  }
  img.responsive-img {
    max-width: 80%;
  }
  div.image-wrap {
    max-width: 35% !important;
  }
  @page {
    size: a4;
  }
  @page:right {
    @bottom-right {
      color: grey;
      content: counter(page) " of " counter(pages);
    }
  }
  @page:left {
    @bottom-left {
      color: grey;
      content: counter(page) " of " counter(pages);
    }
  }
}
@media screen {
  .hide_for_screen {
    display: none;
  }
}
