@import "materialize";

.interactive {
  margin: 3em 0rem;
}
pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  background-color: color("blue-grey", "darken-1");
  color: color("shades", "white");
  @extend .z-depth-1;
  padding: 1rem !important;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre > code {
  padding: 0;
  background-color: transparent;
  border-width: 0;
  border-style: none;
}
.interactive-external {
  border: 2px solid #C3C3C3;
}
.image-wrap {

}
.image-wrap-left {
  float: left;
  margin-right: 1rem;
}
.image-wrap-right {
  float: right;
  margin-left: 1rem;
}
.interactive-iframe-resize {
  width: 100%;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.bold > a {
  font-weight: bold;
}
ul.side-nav.fixed li a {
  font-size: 1rem;
  line-height: 44px;
  height: 44px;
  white-space: nowrap;
}
.side-nav .collapsible-body li a {
  padding-right: 0 !important;
  line-height: 2rem !important;
  height: 2rem !important;
}
.section_number {
  color: $primary-color-light;
}
.main-content ul {
  padding-left: 40px;
  li {
    list-style-type: initial;
  }
}
.navbar-fixed {
  z-index: 997 !important;
}
.side-nav li {
    &:hover:not(.no-padding):not(.no-highlight),
    &.active:not(.no-padding):not(.no-highlight) {
      background-color: #ddd;
    }
}
.nav-subtitle {
  padding-top: 1rem !important;
  padding-left: 30px !important;
}
div#page-navigation {
  margin-top: 3rem;
}
#page-title-header {
  background-color: $primary-color !important;
  h1 {
    line-height: 4rem !important;
    font-size: 3rem !important;
    padding: 2rem 0;
    margin: 0;
    color: #fff;
  }
}
#page-subtitle-header {
  background-color: $primary-color-light !important;
  h4 {
    line-height: 2rem !important;
    font-size: 1.5rem !important;
    padding: 1rem 0;
    margin: 0;
    color: #fff;
  }
}
#homepage-logo {
  height: 10rem;
}
.brand-logo {
  color: $primary-color-light !important;
}
#logo-container {
  color: $primary-color;
  font-size: 2rem;
  font-weight: 500;
}
// Based off Materialize flow-text rules
.main-content p {
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}
.button-collapse {
  padding: 0 1rem;
}
