@import "third-party/materialize";

// Pygments theme for code syntax highlighting
@import "third-party/pygments-monokai";

// Import styles for print media
@import "print";

pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  font-size: 0.9rem !important;
  background-color: color("blue-grey", "darken-4");
  color: color("shades", "white");
  @extend .z-depth-1;
  padding: 1rem !important;
  overflow-x: auto;
}
pre > code {
  padding: 0;
  background-color: transparent;
  border-width: 0;
  border-style: none;
}
.interactive-external {
  border: 2px solid #C3C3C3;
}
.clearfix {
  margin-top: 1rem;
}
.image-wrap {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width : $medium-screen) {
  .image-wrap {
    max-width: 35% !important;
  }
}
.image-wrap-left {
  float: left;
  margin-right: 1rem;
}
.image-wrap-right {
  float: right;
  margin-left: 1rem;
}
p.image-caption {
  font-size: 90%;
}
.interactive-iframe-resize {
  width: 100%;
}
header, main, footer {
  padding-left: 300px;
}
#website_header {
  display: none;
}
@media only screen and (max-width : $medium-screen) {
  header, main, footer {
    padding-left: 0;
  }
  #website_header {
    display: block;
  }
  .anchor-link {
    padding-top: 70px !important;
    margin-top: -60px !important;
  }
}
.anchor-link {
  padding-top: 0;
  pointer-events: none;
  outline: none;
  & a {
    pointer-events: auto;
  }
  &-empty {
    position: absolute;
  }
}
.bold > a {
  font-weight: bold;
}
ul.side-nav.fixed li a {
  line-height: 44px;
  height: inherit !important;
  position: relative;
  margin-left: 0;
}
.dropdown-menu-arrow {
  position: relative;
  float: right;
  display: inline-block;
  color: $primary-color-light;
  @include transition(all 300ms ease);
  .active & {
    @include rotate(180deg);
  }
}
.side-nav .collapsible-body li a {
  padding-right: 0 !important;
  line-height: 2rem !important;
  height: 2rem !important;
}
.section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.section_number {
  color: $primary-color-light !important;
}
.section-heading {
  margin-bottom: 0;
  .page-title-header & > a {
    color: white !important;
  }
  & > a {
    color: $off-black !important;
  }
}
.main-content ul:not(.collapsible):not(.dropdown-content) {
  padding-left: 40px;
  li {
    list-style-type: initial;
  }
}
.navbar-fixed {
  z-index: 997 !important;
}
.side-nav li {
    &:hover:not(.no-highlight),
    &:active:not(.no-highlight) {
      background-color: #ddd;
    }
}
.side-nav div.collapsible-body a {
  padding-left: 30px;
}
.nav-subtitle {
  padding-top: 1rem !important;
}
.page-title-header {
  background-color: $primary-color !important;
  padding: 1rem 0;
  margin: 0;
  color: #fff;
}
#page-subtitle-header {
  background-color: $secondary-color !important;
  margin-bottom: 20px;
  h4 {
    line-height: 2rem !important;
    font-size: 1.5rem !important;
    padding: 1rem 0;
    margin: 0;
    color: #fff;
  }
}
#homepage-logo {
  height: 12rem;
  margin-top: 1rem;
}
.brand-logo {
  color: $primary-color-light !important;
}
#logo-container {
  padding-right: 0;
  color: $primary-color !important;
  .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .subtitle {
    line-height: 1.1rem;
  }
}
// Based off Materialize flow-text rules
.main-content p {
  font-weight: normal;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}
.button-collapse {
  padding: 0 1rem;
}
#page-navigation {
  padding: 1rem 1rem 0 0;
  position: fixed;
}
.btn-expand {
  width: 100% !important;
}
.btn-interactive-whole-page-container {
  position: relative;
  width: 100%;
  height: initial !important;
  padding: 2em 0 !important;
  border: 5px solid $primary-color-light !important;
  overflow: hidden;
  background-color: black !important;
}
.btn-interactive-whole-page-image {
  position: absolute;
  top: -50%;
  left: -10%;
  width: 120%;
  opacity: 0.5;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.btn-interactive-whole-page-text {
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
div#homepage-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  .btn-menu {
    flex: 0 1 auto;
    width: 100%;
    @media #{$medium-and-up} {
      width: 49% !important;
    }
    text-align: center;
    padding: 1rem 0.3rem;
    margin-bottom: 1rem;
    color: white !important;
    background-color: $primary-color;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 115%;
    @include transition(.1s ease-out);
    @extend .z-depth-1;
    &:hover {
      @extend .z-depth-2;
    }
    .btn-menu-fade {
      font-size: 1rem;
      opacity: 0.5;
    }
  }
  .btn-menu-light {
    background-color: $primary-color-light !important;
  }
}
.glossary-anchor-link:target,
.glossary-anchor-link-highlight {
  background-color: color("deep-orange", "lighten-3");
  background-clip: content-box;
}
// Panels
@mixin panel-color($class-name, $color) {
  .#{$class-name} .collapsible-header {
    background-color: color($color, "lighten-2");
  }
  .#{$class-name} {
    background-color: color($color, "lighten-5");

    .dropdown-menu-arrow {
      color: color($color, "darken-2");
    }
  }
}

ul.panel {
  background-color: white;
  li.panel-selector {
    overflow: auto;
  }
  p {
    padding: 0 !important;
  }
  p, ul, ol {
    margin: 1rem 0 !important;
  }
  .collapsible-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 1rem;
    line-height: 1.2rem;
  }
  .collapsible-body {
    border: none;
    padding: 0 1rem;
    ol > li {
      list-style-type: decimal;
    }
    ul > li {
      list-style-type: disc;
    }
  }

  // Custom panel colours
  @include panel-color("panel-teacher-note", "red");
  @include panel-color("panel-additional-information", "amber");
  @include panel-color("panel-curiosity", "purple");
  @include panel-color("panel-challenge", "deep-orange");
  @include panel-color("panel-caution", "orange");
  @include panel-color("panel-jargon-buster", "light-green");
  @include panel-color("panel-spoiler", "blue-grey");
  @include panel-color("panel-project", "blue");
}
// Text Boxes
.text-box {
  margin: 1rem 0;
  padding: 0 1rem;
  border: 1px solid rgba(63, 81, 181, 0.50);
  background: rgba(63,81,181,0.15);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.text-box-indented {
  margin-left: 40px !important;
}


.table-of-contents {
  li, ul, a {
    display: block !important;
  }
  a {
    height: 100% !important;
  }
  &-subtitle {
    padding-left: 0.8rem;
    font-size: 90%;
    a:not(.active) + & {
      display: none !important;
    }
  }
}
.btn {
  text-transform: none !important;
  margin-bottom: 1rem !important;
  height: initial !important;
  padding: 0.5rem !important;
}
footer {
  color: $off-black;
  margin-top: 4rem;
  .footer-first {
    background-color: #FFF;
    .container {
      padding-top: 1rem;
      border-top: 2px solid $primary-color;
    }
    .sponsor-logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      a {
        flex: 0 1 auto;
        margin: 0 3rem 2rem 0;
        img {
          height: 3em;
        }
      }
    }
  }
  .footer-second {
    color: rgba(255,255,255,0.8);
    background-color: $primary-color;
    overflow: hidden;
  }
  .footer-third {
    color: rgba(255,255,255,0.8);
    background-color: $primary-color-dark;
    overflow: hidden;
    .version-number {
      float: right !important;
      padding-left: 1rem;
    }
  }
  .row {
    margin-bottom: 0;
  }
}
body.landing-page {
  background-color: $primary-color !important;
  main, footer {
    padding-left: 0 !important;
  }
  main {
    color: rgba(255,255,255,0.8);
  }
  footer {
    .footer-first .container {
      border-top: 0;
    }
  }
}
.video-container {
  margin-top: 1rem;
}
// Images
img.responsive-img {
  cursor: zoom-in;
}
.featherlight {
  cursor: zoom-out !important;
}
.featherlight-content {
  cursor: zoom-out !important;
  overflow: hidden !important;
  background-color: transparent !important;

  // Hide the image border and close button
  padding: 0 !important;
  border: 0 !important;
  .featherlight-close-icon {
    display: none !important;
  }

  // Prevent image overflowing its container
  img {
    margin: 0;
    background-color: #FFF !important;
  }
}
