.card-text {
    margin-bottom: 0.3rem;
}

#customer-answer {
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    padding: 2rem;
}

#question-dropdown {
    top: 37%;
    left: 78%;
}
