.card-text {
    margin-bottom: 0.3rem;
}

#dialogue-box {
    border-radius: 0.5rem;
    background-color: #f8f9fa;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    top: 77%;
    height: 8rem;
    overflow-y: scroll;
}

#question-dropdown {
    top: 37%;
    left: 78%;
}

#time-to-bake {
    top: 88%;
}

#start-asking {
    top: 88%;
}

#num-qs-asked-text {
    top: 94%;
}

#question-list p:hover {
    cursor: pointer;
    background-color: #dcddec;
}

#question-list p {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 0;
}
