.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height:30px;
}
.flex-item {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height:auto;
}
.flex-item:before {
  content:'';
  float:left;
  padding-top:100%;
}
.parity-card {
  border: 1px solid #929292;
  background: white;
  margin: 1px;
  border-radius: 3px;
}
.black {
  background: black;
}
#interactive-parity-sandbox-grid {
  cursor: cell;
}
.parity-card:last-child,
.flex-container:last-child .parity-card {
  border: 1px solid #2196F3;
}
#interactive-parity-sandbox-feedback {
  margin: 0;
  padding: 10px 0;
  height: 6rem;
}
#interactive-parity-sandbox-feedback,
#interactive-parity-sandbox-grid-size,label {  font-size: 1.5rem !important;}#interactive-parity-sandbox-footer {  padding-top: 2rem;  color: grey;}#interactive-parity-sandbox-footer > p {  font-size: 0.8rem;}.error {  color: red;}.btn-expand {  width: 100%;  padding: 0 0.5rem;}select {  border: 1px solid #929292;}