.div-circle-black {
  width: 25px;
  height: 25px;
  color: black;
  background-color: black;
  border: 1px solid;
  border-color: black;
  border-radius: 50%;
}

.div-circle-white {
  width: 25px;
  height: 25px;
  color: white;
  background-color: white;
  border: 1px solid;
  border-color: black;
  border-radius: 50%;
}
