#interactive-rsa-key-generator button {
  width: 100%;
  overflow: hidden;
}
#interactive-rsa-key-generator textarea {
  height: initial;
}
#interactive-rsa-key-generator select {
  border-color: black;
}
#interactive-rsa-key-generator-generate {
  height: 3rem;
}
