#interactive-base-calculator-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#interactive-base-calculator-container div.calculator-column {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
#interactive-base-calculator-container div.calculator-column:nth-child(4n+1) {
  background-color: #EEE;
}
#interactive-base-calculator-container div.calculator-element {
  flex: 0 1 auto;
  text-align: center;
  min-width: 2rem;
  padding: 0.2rem;
  font-size: 1rem;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
}
#interactive-base-calculator-container div.calculator-element.calculator-symbol {
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}
#interactive-base-calculator-container select {
  text-align: center;
  color: black;
  display: block;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 0.2rem;
  background: none;
  font-size: 1.4rem;
  cursor: pointer;
}
