#password-strength-dict {
    margin: auto;
	text-align: center;
	width: 40vw;
}

#password-strength-dict-content {
	padding: 1%;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	border-top: 0.2vw solid;
	border-left: 0.2vw solid;
	border-right: 0.2vw solid;
}

#title-header {
    background-color: #6610f2;
    text-align: center;
    overflow: hidden;
    width: 100%;
    min-height: 4vh;
	color: white;
	border-left: 0.2vw solid black;
	border-right: 0.2vw solid black;
	border-top: 0.2vw solid black;
	box-sizing: border-box;
}

#password-strength-footnotes {
    background-color: #6610f2;
    text-align: center;
    overflow: hidden;
    width: 100%;
	color: white;
	border: 0.2vw solid black;
	box-sizing: border-box;
}

.pwcDictButton {
	background-color: indigo;
	color: white;
	padding: 1%;
	border: 0.5% solid #000;
	z-index:10;
	border-radius: 15px;
	-moz-border-radius: 15px;
}


#password-strength-dict-content a:link { color: blue; }
#password-strength-dict-content a:visited { color: blue; }
#password-strength-dict-content a:hover { color: red; }
#password-strength-dict-content a:active { color: blue; }
#password-strength-dict-content input{ text-align:center; }
#password-strength-dict-content input{ width:50%; }

#password-strength-footnotes a:link { color: cyan; }
#password-strength-footnotes a:visited { color: cyan; }
#password-strength-footnotes a:hover { color: red; }
#password-strength-footnotes a:active { color: cyan; }
