#password-strength-dict {
	text-align: left;
}

#password-strength-dict-content {
	width: 100%;
}

#crackingButtonContainer {
	padding-left: 5%;
}

#password-strength-dict-content input{ width:120%; }
