#remote-modified-container {
  transform: scale(0.8);
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  .btn-danger {
    line-height: 1;
  }
}

#modified-upper-blank {
  height: 190px;
  width: 147px;
}

#modified-lower-blank {
  height: 200px;
}
