{% extends "appendices/base.html" %}

{% load i18n %}

{% block title %}
  {% trans 'About' %}
{% endblock title %}

{% block appendix_title %}
  {% trans 'About' %}
{% endblock appendix_title %}

{% block content %}
  <p>
    {% blocktrans %}The Computer Science Field Guide is a free online resource for teaching Computer Science to students.
    This guide was initially developed as an online interactive textbook to support the new achievement standards in Computer Science that were being rolled out in New Zealand (2011-2013), and is now being adapted for use all over the world.
    The New Zealand project started in 2012, with the first materials released to the public in 2013.{% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}This guide is free for you to copy, share and even modify.
    It will also be downloadable as a PDF file (although it's recommended to read through the website because you can watch the videos and use the interactive activities).
    The source material (all raw text, images, videos and interactive programs) is <a target="_blank" rel="noopener noreferrer" href="https://github.com/uccser/cs-field-guide">available on GitHub</a>.{% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}This guide is licenced under a <a target="_blank" rel="noopener noreferrer" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike licence</a>, which means that you are welcome to take copies and modify them.
    If you do make improvements, we ask that you share those, and acknowledge this guide by linking back to our web site.
    You can give away the guide (or any derivatives), use it for teaching, or use it for commerical purposes.{% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}The Computer Science Field Guide has been developed by the <a target="_blank" rel="noopener noreferrer" href="http://www.cosc.canterbury.ac.nz/research/RG/CSE/">University of Canterbury Computer Science Education Research Group</a>, and has been funded by various generous groups.
    A list of supporters is available above the footer of this page, and we welcome donations to support further work on the guide.
    You can contact us at <a href="mailto:csse-education-research@canterbury.ac.nz">csse-education-research@canterbury.ac.nz</a>.{% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}If you are a teacher (or involved in education), you can join the <a target="_blank" rel="noopener noreferrer" href="https://groups.google.com/forum/?fromgroups#!forum/csfg-teachers">CSFG teachers group</a> to receive updates.
    You can access the teacher's version on the guide by using the link in the page footer.{% endblocktrans %}
  </p>

  <h2>{% trans 'Press Contact Details' %}</h2>

  <h4>Tim Bell</h4>
  <p>
    {% trans 'Project Lead' %}
    <br>
    <a href="mailto:tim.bell@canterbury.ac.nz">tim.bell@canterbury.ac.nz</a>
  </p>
{% endblock content %}
