{% extends "base.html" %}

{% block title %}
  Releases
{% endblock %}

{% block page_heading %}
  <h1 id="releases" class="section-heading anchor-link">Releases</h1>
{% endblock page_heading %}

{% block content %}

  <p>
    All releases since the CSFG went open source are detailed <a href="http://www.github.com/uccser/cs-field-guide/releases">here</a>.
  <p>
    The last version of the CSFG before the open source version was adopted  was released on 3rd February 2015 and is <a href='http://www.csfieldguide.org.nz/releases/1.9.9/'>archived for viewing here</a>.
  <p>

{% endblock content %}
