{% extends "appendices/base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Sitemap" %}
{% endblock title %}

{% block appendix_title %}
  Sitemap
{% endblock appendix_title %}

{% block content %}
  <p>{% trans "All pages within the Computer Science Field Guide are listed here:" %}</p>
  <ul>
    <li>
      <a href="{% url 'general:index' %}">Computer Science Field Guide</a>
    </li>
    {% for chapter in chapters %}
      <li>
        <a href="{% url 'chapters:chapter' chapter.slug %}">{{ chapter.name }}</a>
      </li>
    {% endfor %}
    <li>
      <a href="{% url 'appendices:appendices' %}">Appendices</a>
      <ul>
        <li>
          <a href="{% url 'appendices:about' %}">About</a>
        </li>
        <li>
          <a href="https://cs-field-guide.readthedocs.io/en/latest/changelog.html">Changelog</a>
        </li>
        <li>
          <a href="{% url 'appendices:contributors' %}">Contributors</a>
        </li>
        <li>
          <a href="{% url 'appendices:curriculum-guides' %}">Curriculum Guides</a>
        </li>
        <li>
          <a href="{% url 'chapters:glossary' %}">Glossary</a>
        </li>
        <li>
          <a href="{% url 'interactives:index' %}">Interactives</a>
        </li>
      </ul>
    </li>
  </ul>
{% endblock content %}
