#txt-try {
  font-size: 1.8rem;
  text-align: center;
}

#generate-button.success, #generate-dropdown.success {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

#cfg-equation {
  font-size: 4rem;
  .nonterminal {
    font-weight: bold;
    color:#6c757d; // btn-secondary style colours
  }
  .nonterminal:hover {
    color: #444444;
    cursor: pointer;
  }
  &.success {
    background-color: #cdffd8 !important;
    border-radius: 2rem;
  }
}

#production-list-container {
  border-collapse: separate !important;
  border: 1px solid #a0a0a0;
  border-radius: 1rem;
  border-spacing: 0;
  background-color: #ececec;
  padding: .5rem;
}

#selection-popup {
  display: none;
  position: absolute;
  background-color: #ececec;
  .btn {
    text-align: start;
  }
}

#error-notice {
  display: none;
  color: red;
  font-family: sans-serif;
  text-align: center;
}

#cfg-example-productions {
  font-family: monospace;
  background-color: #ececec;
  border-radius: 5px;
}

#cfg-grammar-input, #cfg-example-input {
  font-family: monospace;
  width: 100%;
}
