@import "node_modules/dragula/dist/dragula";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.sorting-algorithms-interactive-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
}

.item-box-content,
.ordered-box-content,
.left-weight-content,
.right-weight-content {
  display: flex;
  justify-content: center;
}

.sorting-algorithms-interactive-item {
  background-color: white;
  .scale {
    overflow: hidden;
    div {
      height: 100%;
    }
  }
}

.sorting-algorithms-interactive-item {
  margin: 0.2em;
  $box-size: 8vw;
  width: $box-size;
  height: $box-size;
  max-width: $box-size;
  @include media-breakpoint-up(lg) {
    $box-size: 6vw;
    width: $box-size;
    height: $box-size;
    max-width: $box-size;
  }
  @include media-breakpoint-up(xl) {
    $box-size: 4vw;
    width: $box-size;
    height: $box-size;
    max-width: $box-size;
  }
}

.sorting-algorithms-interactive-item {
  border: 2px dashed #000;
}

.item-box-content img,
.ordered-box-content img,
.left-weight-content img,
.right-weight-content img {
  height: 100%;
  width: 100%;
  padding: 2px;
  overflow: hidden;
  display: none;
}

.item-box-content img:last-child,
.ordered-box-content img:last-child,
.left-weight-content img:last-child,
.right-weight-content img:last-child {
  display: block;
}

.sorting-algorithms-interactive-scale-row {
  height: 150px;
}

#scale {
  transition-duration: 1s;
}

#scale-text p {
  margin: auto;
  text-align: center;
}

#sorting-algorithms-order-reminder {
  display: flex;
  justify-content: space-between;
}

.sorting-algorithms-order-reminder-text {
  font-weight: bold;
}

#check-order-result-text-correct,
#check-order-result-text-incorrect {
  display: none;
}

#comparison-counter-prefix,
#comparison-counter-number {
  display: inline-block;
}

#comparison-counter-number {
  margin-left: 5px;
}

#sorting-algorithms-result {
  text-align: center;
}

.rotate-left {
  transform: rotate(0deg);
}

.middle {
  transform: rotate(90deg);
}

.rotate-right {
  transform: rotate(180deg);
}
