$csfg: #2a3da0;
$csfg-light: #3f51b5;
$csfg-teacher: #f44336;
$csfg-light-teacher: #ff5f54;
$csu: #cc0423;
$text-color: $gray-900;
$theme-colors: (
    "primary": $csfg-light,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);
$navbar-height: 3rem;
$nav-pills-link-active-color: $csfg-light;
$nav-pills-link-active-bg: $csfg-light;
