.jumbotron {
  background-color: $csfg-light;
  width: 100%;
  #homepage-logo {
    max-width: 100% !important;
    height: auto !important;
    path {
      fill: $white;
    }
  }
  h1 {
    font-family: $headings-font-family;
    color: $white;
    font-size: 3.5rem;
  }
  p {
    color: $gray-lighter;
  }
}

.jumbotron.sub-heading {
  background-color: #ff7043;
}

#trailer-modal {
  .modal-body {
    padding: $spacer;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
  }
}

.orange {
  color: #ff7043;
  border-color: #ff7043;
}
.orange:hover {
  background-color: #ff7043;
  color: $gray-lighter;
}

.homepage-section-heading {
  color: #3f51b5;
}

.homepage-section-item {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px #adb5bd;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.homepage-section-item.section-item-blue {
  border: 0px;
  border-top: 7px solid #3f51b5;
}
