.jumbotron {
  background-color: $csfg-light;
  width: 100%;
  #homepage-logo {
    height: 12rem;
  }
  h1 {
    font-family: $headings-font-family;
    color: $white;
    font-size: 3.5rem;
  }
  // p {
  //   color: $gray-lighter;
  // }
}

.jumbotron.sub-heading {
  background-color: #ff7043;
}

#trailer-modal {
  .modal-body {
    padding: $spacer;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
  }
}

.orange {
  color: #ff7043;
  border-color: #ff7043;
}
.orange:hover {
  background-color: #ff7043;
  color: $gray-lighter;
}

.homepage-section-heading {
  color: #3f51b5;
}
