.jumbotron {
  background-color: $csfg-light;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-shadow: 0 2px 2px rgba(0,0,0,0.4);
  #homepage-logo {
    height: 12rem;
    margin-top: 1rem;
  }
  h1 {
    font-family: $headings-font-family;
    color: $white;
    font-size: 3.5rem;
  }
  p {
    color: $gray-lighter;
  }
}
