.link-item {
  @extend .no-text-decoration;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: $csfg !important;
  border: 1px solid transparent;
  @include border-radius($border-radius);
  padding: 0.4rem 1rem;
  margin-bottom: 1px;
  img {
    height: 8rem;
  }
  &:hover {
    border-color: $csfg;
    background-color: mix($csfg-light, $white, 10%);
  }
  &.unavailable {
    background-color: rgba($black, 0.2);
    .icon {
      opacity: 0.5;
    }
  }
  h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  .badge-language-unavailable {
    margin-#{$right}: auto;
    margin-bottom: auto;
    margin-top: 0;
    margin-#{$left}: 0;
  }
}
