.navbar {
  background-color: $csfg;
  transition: background-color .3s ease 0s;

  #navbar-brand-logo {
    height: 2rem;
    @include media-breakpoint-up(md) {
      padding-right: .5em;
    }
  }

  .navbar-nav .nav-link:hover {
    text-decoration: underline;
  }
}
