{% extends "base.html" %}

{% load render_html_field %}

{% block title %}
  {{ chapter.name }}
{% endblock title %}

{% block page_heading %}
<h1 id="chapters" class="section-heading anchor-link">{{ chapter.name }}</h1>
{% endblock page_heading %}

{% block content %}

  {% render_html_field chapter.introduction %}

  <h2>Sections in this chapter:</h2>
  <ol>
    {% for section in chapter_sections %}
    <li><a href="{% url 'chapters:chapter_section' chapter.slug section.slug %}">{{ section.name }}</a>
    {% endfor %}
  </ol>

{% endblock content %}
