{% extends "base.html" %}

{% load render_html_field %}

{% block title %}
  {{ chapter_section.chapter.name }}
{% endblock title %}

{% block page_heading %}
<h1 id="chapters" class="section-heading anchor-link">{{ chapter_section.chapter.name }}</h1>
{% endblock page_heading %}

{% block content %}

  <h2>{{ chapter_section.heading }}</h2>
  {% render_html_field chapter_section.content %}

  <div id="chapter-section-buttons">
    {% if previous_section %}
      <a href="{% url 'chapters:chapter_section' chapter.slug previous_section.0.slug %}" class="btn-menu">
        Previous: {{ previous_section.0.heading }}
      </a>
    {% endif %}
    {% if next_section %}
      <a href="{% url 'chapters:chapter_section' chapter.slug next_section.0.slug %}" class="btn-menu">
        Next: {{ next_section.0.heading }}
      </a>
    {% endif %}
  </div>

{% endblock content %}
