{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Chapters" %}
{% endblock title %}

{% block page_heading %}
  Chapters
{% endblock page_heading %}

{% block content %}
  {% if all_chapters %}
    <ul>
      {% for chapter in all_chapters %}
        <li>
          <a href="{% url 'chapters:chapter' chapter.slug %}">
            {{ chapter.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No chapters are available.</p>
  {% endif %}
{% endblock content %}
