{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load svg %}

{% block title %}
  {% trans "Chapters" %}
{% endblock title %}

{% block page_heading %}
  Chapters
{% endblock page_heading %}

{% block content %}

  <p>{% trans "The following chapters cover key topics within Computer Science." %}</p>

  {% if chapters %}
    {% for chapter in chapters %}
      <div class="toc-item">
        <a {% if not chapter.translation_available %}class="unavailable"{% endif %} href="{% url 'chapters:chapter' chapter.slug %}">
          <span class="csfg-svg">{% svg chapter.icon %}</span>
          <div class="media-body">
            <h2 class="h3 mt-0">
              <span class="text-muted">{{ chapter.number }}.</span>
              {{ chapter.name }}
            </h2>
            {% if not chapter.translation_available %}
              {% include "generic/not-available-badge.html" %}
            {% endif %}
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <p>No chapters are available.</p>
  {% endif %}
{% endblock content %}
