.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
#pixel-viewer-interactive-source-canvas {
  height: 133px;
  width: 200px;
  display: none;
}
#pixel-viewer-interactive-container {
    z-index: 0;
    position: absolute;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    cursor: grab;
}
.pixel-viewer-interactive-footer {
  font-size: 0.8rem;
}
.pixel-viewer-interactive-button {
  z-index: 10;
  border: 2px solid #005470;
  text-align: center;
  padding: 1rem 0.6rem;
  margin: 0;
  font-weight: bold;
}
#pixel-viewer-interactive-settings {
  z-index: 9;
  position: absolute;
  background-color: #F1F1F1;
  border: 3px solid #005470;
  height: 90%;
  overflow-y: auto;
}
#pixel-viewer-interactive-loader {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}
#pixel-viewer-interactive-original-image {
  z-index: 2;
  display: none;
  overflow: hidden;
  position: absolute;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  top: 50%;
  left: 50%;
  max-width: none;
  margin-top: -66px;
  margin-left: -100px;
}
#pixel-viewer-interactive-zoom-in,
#pixel-viewer-interactive-zoom-out {
  visibility: hidden;
}
#pixel-viewer-interactive {
  user-select: none !important;
}
.img-pick{
  width:100px;
  height:60px;
  border:2px solid;
  border-color:#333;
  margin:3px;
  cursor: pointer;
  cursor: hand;
}
.img-pick:hover{
   border-color:#AAA;
   border:1px solid;
}
#pixel-viewer-interactive-buttons {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
#pixel-viewer-interactive-buttons button {
  flex: 1;
}
