{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="row mb-3 pixel-grid">
    <div class="col" role="group">
      <title>2D Arrow Manipulations</title>
      <div id="container">
        <div id="warning">
          <label>This interactive is designed for screens larger than 600px wide.</label>
        </div>
      
        <svg width="100%" height="100%">
          <polygon id="target-polygon" points="0,0 0,0 0,0 0,0 0,0 0,0 0,0"/>
          <polygon id="dynamic-polygon" points="0,0 0,0 0,0 0,0 0,0 0,0 0,0"/>
          <circle id="c0" cx="0" cy="0" r="3"/>
          <circle id="c1" cx="0" cy="0" r="3"/>
          <circle id="c2" cx="0" cy="0" r="3"/>
          <circle id="c3" cx="0" cy="0" r="3"/>
          <circle id="c4" cx="0" cy="0" r="3"/>
          <circle id="c5" cx="0" cy="0" r="3"/>
          <circle id="c6" cx="0" cy="0" r="3"/>
        </svg>
      
        <label id="y-label">y</label>
        <label id="x-label">x</label>
      
        <div id="instructions">
          <h1 id="title"></h1>
          <p id="task"></p>
        </div>
      
        <div id="modules">
          <div id="coordinates">
            <div id="heading"><p>x</p><p>y</p><p>highlight</p></div>
            <div node-id="c0">
              <input id="p0-input-x"/>
              <input id="p0-input-y"/>
              <input type="radio" name="highlight-radios" id="c0-check">
            </div>
            <div node-id="c1">
              <input id="p1-input-x"/>
              <input id="p1-input-y"/>
              <input type="radio" name="highlight-radios" id="c1-check">
            </div>
            <div node-id="c2">
              <input id="p2-input-x"/>
              <input id="p2-input-y"/>
              <input type="radio" name="highlight-radios" id="c2-check">
            </div>
            <div node-id="c3">
              <input id="p3-input-x"/>
              <input id="p3-input-y"/>
              <input type="radio" name="highlight-radios" id="c3-check">
            </div>
            <div node-id="c4">
              <input id="p4-input-x"/>
              <input id="p4-input-y"/>
              <input type="radio" name="highlight-radios" id="c4-check">
            </div>
            <div node-id="c5">
              <input id="p5-input-x"/>
              <input id="p5-input-y"/>
              <input type="radio" name="highlight-radios" id="c5-check">
            </div>
            <div node-id="c6">
              <input id="p6-input-x"/>
              <input id="p6-input-y"/>
              <input type="radio" name="highlight-radios" id="c6-check">
            </div>
          </div>
      
          <div id="matrices">
            <div id="matrix-first-scale">
              <h2>Multiplication Matrix</h2>
      
              <!-- default value is identity matrix -->
              <div class="matrix-row">
                <input id="matrix-first-scale-row-0-col-0" value="1"/>
                <input id="matrix-first-scale-row-0-col-1" value="0"/>
              </div>
      
              <div class="matrix-row">
                <input id="matrix-first-scale-row-1-col-0" value="0"/>
                <input id="matrix-first-scale-row-1-col-1" value="1"/>
              </div>
            </div>
      
            <div id="matrix-first-translate">
              <h2>Translation Matrix</h2>
      
              <!-- default value is identity matrix -->
              <div class="matrix-row">
                <input id="matrix-first-translate-row-0-col-0" value="0"/>
              </div>
      
              <div class="matrix-row">
                <input id="matrix-first-translate-row-1-col-0" value="0"/>
              </div>
            </div>
      
            <div id="matrix-second-scale">
              <h2>Multiplication Matrix</h2>
      
              <!-- default value is identity matrix -->
              <div class="matrix-row">
                <input id="matrix-second-scale-row-0-col-0" value="1"/>
                <input id="matrix-second-scale-row-0-col-1" value="0"/>
              </div>
      
              <div class="matrix-row">
                <input id="matrix-second-scale-row-1-col-0" value="0"/>
                <input id="matrix-second-scale-row-1-col-1" value="1"/>
              </div>
            </div>
      
            <div id="matrix-second-translate">
              <h2>Translation Matrix</h2>
      
              <!-- default value is identity matrix -->
              <div class="matrix-row">
                <input id="matrix-second-translate-row-0-col-0" value="0"/>
              </div>
      
              <div class="matrix-row">
                <input id="matrix-second-translate-row-1-col-0" value="0"/>
              </div>
            </div>
          </div>
      
          <div id="coord-buttons">
            <button id="get-new-coordinates-button">Update</button>
            <button id="reset-coordinates-button">Reset</button>
          </div>
      
          <div id="matrix-buttons">
            <button id="matrix-operations-button">Update</button>
            <button id="reset-matrices-button">Reset</button>
          </div>
          <label id="instant-update-label"><input type="checkbox" id="instant-update-check" checked/>Instant Update</label>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/2d-arrow-manipulations/css/2d-arrow-manipulations.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript">
    var base_path = "{{ STATIC_URL }}";
  </script>
  <script type="text/javascript" src="{% static 'interactives/2d-arrow-manipulations/js/2d-arrow-manipulations.js' %}"></script>
{% endblock js %}
