{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div id="interactive-action-menu" class="text-center">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="actionMenuButton">
        <a class="dropdown-item" data-feedback="{% trans 'Pizza ordered!' %}">
          {% trans "Order a pizza" %}
        </a>
        <a class="dropdown-item" data-feedback="{% trans 'TV turned on!' %}">
          {% trans "Turn on TV" %}
        </a>
        <a class="dropdown-item" data-feedback="{% trans 'Nuclear attack launched... why did you do that?' %}">
          {% trans "Launch nuclear attack" %}
        </a>
        <a class="dropdown-item" data-feedback="{% trans 'Water boiled!' %}">
          {% trans "Boil Water" %}
        </a>
      </div>
    </div>
    <p id="interactive-action-menu-feedback"></p>
  </div>
{% endblock html %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/action-menu/js/action-menu.js' %}"></script>
{% endblock js %}
