{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
	<div class="container">
		<div class="row justify-content-center">
		  <div id="alarm-timer-background" class="col-lg-8 col-xs-12">
		    <p class="alarm-timer-text">{% trans "Alarm set for 12 hours and 57 minutes from now." %}</p>
		    <p class="alarm-timer-text">{% trans "Alarm already set for 09:00." %}</p>
		  </div>
		</div>
	</div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/alarm-timer/css/alarm-timer.css' %}">
{% endblock css %}
