{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
      <h3>{% trans "Algorithm Timer" %}</h3>
    </div>
  </div>

  <!-- radio buttons for algorithm complexity -->
  <div class="row mb-2">
    <div class="col-sm-12 col-lg-6">
      <div class="d-inline-block mr-2">
        {% trans "Algorithm complexity:" %}
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="complexity" id="n-2" checked>
        <label class="form-check-label" for="n-2">
          {% trans "n&sup2;" %}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="complexity" id="n-3">
        <label class="form-check-label" for="n-3">
          {% trans "n&sup3;" %}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="complexity" id="n-4">
        <label class="form-check-label" for="n-4">
          {% trans "n<sup>4</sup>" %}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="complexity" id="n-6">
        <label class="form-check-label" for="n-6">
          {% trans "n<sup>6</sup>" %}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="complexity" id="2-n">
        <label class="form-check-label" for="2-n">
          {% trans "2<sup>n</sup>" %}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="complexity" id="n-factorial">
        <label class="form-check-label" for="n-factorial">
          {% trans "n!" %}
        </label>
      </div>
    </div>
  </div>

  <!-- input boxes -->
  <form>
    <div class="form-group row">
      <label for="n-items" class="col-sm-3 col-form-label">{% trans "Number of items (n) :" %}</label>
      <div class="col-sm-2 mt-1">
        <input class="form-control form-control-sm" id="n-items">
      </div>
    </div>
    <div class="form-group row">
      <label for="speed" class="col-sm-3 col-form-label">{% trans "Operations per second :" %}</label>
      <div class="col-sm-2 mt-1">
        <input class="form-control form-control-sm" id="speed">
      </div>
    </div>
    <div class="form-group row">
      <label for="processors" class="col-sm-3 col-form-label">{% trans "Processors :" %}</label>
      <div class="col-sm-2 mt-1">
        <input class="form-control form-control-sm" id="processors">
      </div>
    </div>
  </form>
</div>
{% endblock html %}

{% block css %}

{% endblock css %}

{% block js %}

{% endblock js %}
