{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container text-center py-5">
    <h1>{% trans "Bakery Simulator" %}</h1>
    <div class="row justify-content-center position-relative text-center">
      <img id="background-image" src="{% static 'interactives/bakery-simulator/img/title-screen.jpg' %}">
      <div id="starter-info" class="position-absolute mt-2">
        <h5>{% trans "Instructions" %}</h5>
        <p>
          {% blocktrans %}
          Welcome to the Bakery Simulator; today you are the baker!<br>
          Much like with a stakeholder, you will need to ask this "cake-holder" questions to determine their desired product.<br>
          Use their answers to construct a cake based on 6 criteria; number of layers, flavour, icing colour, size, decorations and shape.<br>
          You are able to ask 6 questions.
          {% endblocktrans %}
        </p>
        <button id="start-button" class="btn btn-primary">{% trans "Start baking!" %}</button>
      </div>
      <div id="customer-answer" class="position-absolute d-none m-3"></div>
      <div id="question-dropdown" class="position-absolute d-none">
        <select class="form-control w-auto p-1 d-inline" id="question">
          <option selected>{% trans "Who is it for?" %}</option>
          <option>{% trans "What is your budget?" %}</option>
          <option>{% trans "How many people is it for?" %}</option>
          <option>{% trans "What colour should it be?" %}</option>
          <option>{% trans "What should the flavour be?" %}</option>
          <option>{% trans "What decorations should it have?" %}</option>
          <option>{% trans "What size should it be?" %}</option>
          <option>{% trans "What shape should it be?" %}</option>
          <option>{% trans "What is the event?" %}</option>
          <option>{% trans "Anything you’d like to avoid?" %}</option>
          <option>{% trans "How many layers should it be?" %}</option>
          <option>{% trans "How do you want it to look?" %}</option>
        </select>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/bakery-simulator/css/bakery-simulator.css' %}">
{% endblock css %}

{% block js %}
<script type="text/javascript">
  var bakerySimImages = {
    "title-screen": "{% static 'interactives/bakery-simulator/img/title-screen.jpg' %}",
    "customer-1": "{% static 'interactives/bakery-simulator/img/customer-1.jpg' %}",
    "customer-1-results": "{% static 'interactives/bakery-simulator/img/customer-1-results.jpg' %}",
    "customer-2": "{% static 'interactives/bakery-simulator/img/customer-2.jpg' %}",
    "customer-2-results": "{% static 'interactives/bakery-simulator/img/customer-2-results.jpg' %}",
    "customer-3": "{% static 'interactives/bakery-simulator/img/customer-3.jpg' %}",
    "customer-3-results": "{% static 'interactives/bakery-simulator/img/customer-3-results.jpg' %}",
  };
</script>
  <script type="text/javascript" src="{% static 'interactives/bakery-simulator/js/bakery-simulator.js' %}"></script>
{% endblock js %}
