{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div id="bias-in-big-data-container" class="h-100 row justify-content-center">
    <div id="instruction-area" class="col-4 text-center">
      <h4 id="instruction-text" class="my-5">{% trans "Click each dot that you see on the screen, then click 'Next stage' to reveal the answer!" %}</h4>
      <div id="background-colour-slider" class="d-none"></div>
      <h3 id="count" class="mb-5">0</h3>
      <button class="btn btn-primary">{% trans "Next stage" %}</button>
    </div>
    <div id="circles-area" class="col-8">
      <div class="circle black d-none"></div>
      <div class="circle black d-none"></div>
      <div class="circle black d-none"></div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/bias-in-big-data/css/bias-in-big-data.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/bias-in-big-data/js/bias-in-big-data.js' %}"></script>
{% endblock js %}
