{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div id="bias-in-big-data-container" class="h-100 row justify-content-center overflow-scroll">
    <div id="instruction-area" class="col-sm-12 col-md-8 col-lg-8 col-xl-5 text-center mb-3">
      <h5 id="instruction-text">{% trans "Click each dot that you see on the screen, then click 'Next stage' to reveal the answer!" %}</h5>
      <div id="background-colour-slider-container" class="container mt-3 d-none">
        <div class="pb-2">
          <div id="background-colour-slider" class="my-3"></div>
        </div>
      </div>
      <button id="next-stage" class="btn btn-primary">{% trans "Next stage" %}</button>
      <button id="start-again" class="btn btn-primary d-none">{% trans "Start again" %}</button>
    </div>
    <div id="circles-area" class="h-100 col-12 mb-3"></div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/bias-in-big-data/css/bias-in-big-data.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/bias-in-big-data/js/bias-in-big-data.js' %}"></script>
{% endblock js %}
