{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="row mb-3">
    <div id="container" class="box-translation">
      <button id="restart-button">Restart</button>
      <div id="user-input" class="layout">
        <div id="coordinates">
          <div id="desktop-coord">
            <p>Type in different values of x, y and z and push Enter/Return to make the box move so you can see all the different sides.</p>
            <label>x = <input type="text" id="desk-x-coordinate" autofocus/></label>
            <label>y = <input type="text" id="desk-y-coordinate"></label>
            <label>z = <input type="text" id="desk-z-coordinate"></label>
          </div>
          <div id="mobile-coord">
            <p>Use the buttons to change the values of x, y and z to make the box move so you can see all the different sides.</p>
            <div id="mob-x">x = <button id="mob-x-n">-</button><input readonly type="text" id="mob-x-coordinate"/><button id="mob-x-p">+</button></div>
            <div id="mob-y">y = <button id="mob-y-n">-</button><input readonly type="text" id="mob-y-coordinate"/><button id="mob-y-p">+</button></div>
            <div id="mob-z">z = <button id="mob-z-n">-</button><input readonly type="text" id="mob-z-coordinate"/><button id="mob-z-p">+</button></div>
          </div>
        </div>
        <div id="code">
          <p id="question">Which of the symbols is coloured on the box?</p>
          <div id="symbol-grid">
            <div class="row">
              <img id="1" src="{% static 'img/interactives/colourful-box-images/square1-256px-grayscale.png' %}">
              <img id="2" src="{% static 'img/interactives/colourful-box-images/square2-256px-grayscale.png' %}">
              <img id="3" src="{% static 'img/interactives/colourful-box-images/square3-256px-grayscale.png' %}">
              <img id="4" src="{% static 'img/interactives/colourful-box-images/square4-256px-grayscale.png' %}">
            </div>
            <div class="row">
              <img id="5" src="{% static 'img/interactives/colourful-box-images/square5-256px-grayscale.png' %}">
              <img id="6" src="{% static 'img/interactives/colourful-box-images/square6-256px-grayscale.png' %}">
              <img id="7" src="{% static 'img/interactives/colourful-box-images/square7-256px-grayscale.png' %}">
              <img id="8" src="{% static 'img/interactives/colourful-box-images/square8-256px-grayscale.png' %}">
            </div>
            <button id="submit-symbol">Submit</button>
          </div>
          <div id="code-template">
            <img id="first-symbol" src="{% static 'img/interactives/translation-rotation-interactives-images/question-1.png' %}">
            <img id="second-symbol" src="{% static 'img/interactives/translation-rotation-interactives-images/question-2.png' %}">
            <img id="third-symbol" src="{% static 'img/interactives/translation-rotation-interactives-images/question-3.png' %}">
            <div id="end-buttons">
              <button id="clear-code">Restart</button>
              <button id="submit-code">Check Code</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/box-translation/css/box-translation.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript">
    basePath = "{{ STATIC_URL }}";
    imgPath = basePath + "img/interactives/translation-rotation-interactives-images/";
    boxImgPath = basePath + "img/interactives/colourful-box-images/";
  </script>
  <script type="text/javascript" src="{% static 'js/translation-rotation-interactives/script.js' %}"></script>
{% endblock js %}
