{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <h3 class="text-center my-3">{% trans "City Trip" %}</h3>
      </div>
    </div>
  </div>


  <div class="row mb-2 justify-content-center">
    <div class="form-group col-sm-12 col-lg-8">
      <div class="slide-container">
        <input type="range" min="3" max="27" value="3" class="slider" id="num-cities">
        <label class="form-check-label" for="num-cities">
          {% trans "Number of cities: <span id='slider-text'>3</span>" %}
        </label>
      </div>
    </div>
  </div>

{% endblock html %}

{% block css %}
<link rel="stylesheet" href="{% static 'interactives/city-trip/css/city-trip.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/city-trip/js/city-trip.js' %}"></script>
{% endblock js %}
