{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <h3 class="text-center my-3">{% trans "City Trip" %}</h3>
      </div>
    </div>

    <div class="row mb-2 justify-content-left">
      <div class="form-group col-sm-12 col-lg-4">
        <div class="slide-container">
          <label class="form-check-label" for="num-cities">
            {% trans "Number of cities: <span id='slider-text'>3</span>" %}
          </label>
          <input type="range" min="3" max="27" value="3" class="slider" id="num-cities">
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-12 col-lg-8">
        <button id="generate-map" class="btn btn-primary btn-sm">{% trans "Generate map" %}</button>
        <button class="btn btn-success btn-sm">{% trans "Start" %}</button>
        <button class="btn btn-danger btn-sm">{% trans "Stop" %}</button>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-12 col-lg-8">
        <p>{% trans "Estimated time left to run:" %}</p>
        <p class="mb-1"><span id="num-years">0</span>{% trans " years" %}</p>
        <p class="mb-1"><span id="num-months">0</span>{% trans " months" %}</p>
        <p class="mb-1"><span id="num-days">0</span>{% trans " days" %}</p>
        <p class="mb-1"><span id="num-hours">0</span>{% trans " hours" %}</p>
        <p class="mb-1"><span id="num-minutes">0</span>{% trans " minutes" %}</p>
        <p class="mb-1"><span id="num-seconds">0</span>{% trans " seconds" %}</p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-12 col-lg-8">
        <p class="mb-1">{% trans "Trial route: " %}<span id='trial-route'>0</span></p>
        <p class="mb-1">{% trans "Distance: <span id='trial-distance'>0</span> km" %}</p>
        <p class="mb-1">{% trans "Best route so far: " %}<span id='best-route-so-far'>0</span></p>
        <p class="mb-1">{% trans "Distance: <span id='best-route-distance'>0</span> km" %}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-8">
        <p>{% trans "Status: <span id='status'>ready to go!</span>" %}</p>
      </div>
    </div>

  </div>

{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/city-trip/css/city-trip.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/city-trip/js/city-trip.js' %}"></script>
{% endblock js %}
