{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="mx-auto mb-3" style="width: 510px;">
      <h3>{% trans "Do you wish to close this window?" %}</h3>
      <button type="button" id="close-window-yes-button" class="btn btn-success btn-lg">{% trans "Yes" %}</button>
      <button type="button" id="close-window-no-button" class="btn btn-secondary btn-lg" disabled>{% trans "No" %}</button>
  </div>
{% endblock html %}

{% block js %}
  <script type="text/javascript">
    var close_window_i18n = {
        "feedback": "{% trans 'Why did you do that?!' %}",
        "refresh": "{% trans 'Refresh the page' %}",
    };
  </script>
  <script type="text/javascript" src="{% static 'interactives/close-window/js/close-window.js' %}"></script>
{% endblock js %}
