{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div class="row">
      <div class="col s12">

<div id="interactive-compression-dictionary">

            <p>
                This interactive demonstrates the concept of using a dictionary to
                compress text.
            </p>
            <p>
                Using the input box below, enter a message. Then try and
                build a dictionary that compresses every character in the message.
            </p>
            <p>
                How efficient is your dictionary? Are you compressing one character per
                dictionary entry, or many? What happens if you add additional text to
                your message, does your dictionary still compress all of the text?
            </p>

            <div id="interactive-compression-dictionary-activity">
                <div id="interactive-compression-dictionary-left">
                    <h2 class="interactive-compression-dictionary-heading">Enter a message to compress:</h2>
                    <textarea id="interactive-compression-dictionary-input" placeholder="Pease porridge hot, pease porridge cold,
Pease porridge in the pot, nine days old;
Some like it hot, some like it cold,
Some like it in the pot, nine days old."></textarea>
                    <button type="button" onclick="compress()">
                        Compress &rarr;
                    </button>
                    <h2 class="interactive-compression-dictionary-heading">Compressed Message:</h2>
                    <p>
                        The highlighted characters represent the characters that are coded
                        in your dictionary.
                    </p>
                    <div id="interactive-compression-dictionary-stats">
                      <p id="interactive-compression-dictionary-percentage-compressed"></p>% of text compressed using <p id="interactive-compression-dictionary-references-used"></p> references.
                    </div>
                    <div id="interactive-compression-dictionary-output">
                    </div>
                </div>

                <div id="interactive-compression-dictionary-right">
                    <h2 class="interactive-compression-dictionary-heading">Dictionary:</h2>
                    <div id="interactive-compression-dictionary-user-dictionary-entry-input">
                        <p>New dictionary entry:</p>
                        <div id="interactive-compression-user-dictionary-entry-input-row">
                            <input id="interactive-compression-dictionary-user-dictionary-value-input" onchange="updateDictionary();" placeholder="enter text here">
                            <button type="button" onclick="updateDictionary">
                                Add &rarr;
                            </button>
                        </div>
                        <div id="error-message" class="hide">
                            <p class="error-message">&#9888;</p>
                            <p id="interactive-compression-dictionary-error-text" class="error-message">
                            </p>
                        </div>
                        <button id="interactive-compression-dictionary-reset-button" type="button" onclick="resetDictionary()">
                            Reset Dictionary &rarr;
                        </button>
                    </div>
                    <div id="interactive-compression-dictionary-user-dictionary">
                        <div id="interactive-compression-dictionary-user-dictionary-column-1" class="interactive-compression-dictionary-user-dictionary-column">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/compression-dictionary/css/compression-dictionary.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/compression-dictionary/js/compression-dictionary.js' %}"></script>
{% endblock js %}
