{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div class="row">
      <div class="col s12">

        <h3>{% trans "Compression using a Dictionary" %}</h3>

        <div id="interactive-dictionary-compression">

            <p>
                {% trans "This interactive demonstrates the concept of using a dictionary to compress text." %}
            </p>
            <p>
                {% trans "Using the input box below, enter a message. Then try and build a dictionary that compresses every character in the message." %}
            </p>
            <p>
                {% trans "How efficient is your dictionary? Are you compressing one character per dictionary entry, or many? What happens if you add additional text to your message, does your dictionary still compress all of the text?" %}
            </p>

            <div id="interactive-dictionary-compression-activity">
                <div id="interactive-dictionary-compression-left">
                    <h2 class="interactive-dictionary-compression-heading">{% trans "Enter a message to compress" %}:</h2>
                    <textarea id="interactive-dictionary-compression-input" placeholder="Pease porridge hot, pease porridge cold,
Pease porridge in the pot, nine days old;
Some like it hot, some like it cold,
Some like it in the pot, nine days old."></textarea>
                    <button id="interactive-dictionary-compression-compress-button" type="button">
                        {% trans "Compress" %} &rarr;
                    </button>
                    <h2 class="interactive-dictionary-compression-heading">{% trans "Compressed Message" %}:</h2>
                    <p>
                        {% trans "The highlighted characters represent the characters that are coded in your dictionary." %}
                    </p>
                    <div id="interactive-dictionary-compression-stats">
                    </div>
                    <div id="interactive-dictionary-compression-output">
                    </div>
                </div>

                <div id="interactive-dictionary-compression-right">
                    <h2 class="interactive-dictionary-compression-heading">{% trans "Dictionary" %}:</h2>
                    <div id="interactive-dictionary-compression-user-dictionary-entry-input">
                        <p>{% trans "New dictionary entry" %}:</p>
                        <div id="interactive-compression-user-dictionary-entry-input-row">
                            <input id="interactive-dictionary-compression-user-dictionary-value-input" placeholder="enter text here">
                            <button id="interactive-dictionary-compression-add-entry-button" type="button">
                                {% trans "Add" %} &rarr;
                            </button>
                        </div>
                        <div id="error-message" class="hide">
                            <p class="error-message">&#9888;</p>
                            <p id="interactive-dictionary-compression-error-text" class="error-message">
                            </p>
                        </div>
                        <button id="interactive-dictionary-compression-reset-button" type="button">
                            {% trans "Reset Dictionary" %} &rarr;
                        </button>
                    </div>
                    <div id="interactive-dictionary-compression-user-dictionary">
                        <div id="interactive-dictionary-compression-user-dictionary-column-1" class="interactive-dictionary-compression-user-dictionary-column">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/dictionary-compression/css/dictionary-compression.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/dictionary-compression/js/dictionary-compression.js' %}"></script>
{% endblock js %}
