{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div class="container">
  <h3 class="text-center mb-2">{% trans "Getting Distance From Stereo Images" %}</h3>

  <div class="row" id="images-div">
    <div class="col-lg-6">
<!--      <h4 class="text-center mb-2">{% trans "Left Camera" %}</h4>-->
      <div id="image-container">
        <img id="img-left" src="{% static 'interactives/distance-from-stereo-images/images/pick_left.jpg' %}">
        <canvas id='canvas-left' class="greyscale"></canvas>
      </div>
    </div>





    <div class="col-lg-6">
      <img id="img-right" src="{% static 'interactives/distance-from-stereo-images/images/pick_right.jpg' %}">
      <canvas id='right-canvas'></canvas>
    </div>
  </div>

  <div class="row" id="custom-image-div">
    <div class="col-lg-6">
      <p>{% trans "Upload a custom image:" %}</p>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="stereo-left-input" accept="image/*">
          <label class="custom-file-label" for="stereo-left-input">{% trans "Choose file" %}</label>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <p>{% trans "Upload a custom image:" %}</p>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="stereo-right-input" accept="image/*">
          <label class="custom-file-label" for="stereo-right-input">{% trans "Choose file" %}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <p>X:<span id="left-x"></span></p>
      <p>Y:<span id="left-y"></span></p>
    </div>
    <div class="col-lg-6">
      <p>X:<span id="right-x"></span></p>
      <p>Y:<span id="right-y"></span></p>
    </div>
  </div>
</div>
{% endblock html %}

{% block css %}
<link rel="stylesheet"
      href="{% static 'interactives/distance-from-stereo-images/css/distance-from-stereo-images.css' %}">
{% endblock css %}

{% block js %}
<script type="text/javascript"
        src="{% static 'interactives/distance-from-stereo-images/js/distance-from-stereo-images.js' %}"></script>
{% endblock js %}
