{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div id="outer-div" class="container">
  <h3 class="text-center mb-2">{% trans "Getting Distance From Stereo Images" %}</h3>
  <a data-toggle="collapse" href="#instructions" role="button" aria-expanded="false" aria-controls="instructions">
    Instructions
  </a>
  <div class="collapse" id="instructions">
    <p>
      {% trans "Take two side-by-side pictures of an object." %}
      {% trans "Make sure the direction of the pictures are parallel, and that the object is between the two camera positions." %}
      {% trans "Note down the precise distance between the camera positions and the distance between the camera plane and the object plane." %}
      {% trans "Upload the two pictures and click on the common point of the object in both pictures." %}
      {% trans "Enter your camera's angle-of-view and the distance between the two camera positions, and click 'Go!' to calculate the distance." %}
      {% trans "Note that resizing the window will reset the points as this can affect the size of the pictures." %}
    </p>
    <p>
      {% trans "The lighter in the supplied images was 1 metre away. How close is the calculation?" %}
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4 class="text-center mb-2">{% trans "Left Camera" %}</h4>
      <canvas id="canvas-left"></canvas>
      <img id="img-left" src="{% static 'interactives/distance-from-stereo-images/images/lighter-left.jpg' %}">
    </div>
    <div class="col-sm-6">
      <h4 class="text-center mb-2">{% trans "Right Camera" %}</h4>
      <canvas id="canvas-right"></canvas>
      <img id="img-right" src="{% static 'interactives/distance-from-stereo-images/images/lighter-right.jpg' %}">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p>{% trans "Upload a custom left image:" %}</p>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="stereo-left-input" accept="image/*">
          <label class="custom-file-label" for="stereo-left-input">{% trans "Choose file" %}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <p>{% trans "Upload a custom right image:" %}</p>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="stereo-right-input" accept="image/*">
          <label class="custom-file-label" for="stereo-right-input">{% trans "Choose file" %}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p>Left X: <span id="left-x"></span></p>
      <p>Left Y: <span id="left-y"></span></p>
    </div>
    <div class="col-sm-6">
      <p>Right X: <span id="right-x"></span></p>
      <p>Right Y: <span id="right-y"></span></p>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon">Angle-of-view (Degrees)</span>
    </div>
    <input id="angle-of-view" type="number" step="0.01" class="form-control" value="63.18" autocomplete=off aria-label="half-angle" aria-describedby="basic-addon">

    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">Distance between pictures (Metres)</span>
    </div>
    <input id="camera-distance" type="number" step="0.01" class="form-control" value="0.1" autocomplete=off aria-label="camera-distance" aria-describedby="basic-addon2">
  </div>

  <div id="result-div" class="container">
    <button id="go-button" class="btn btn-outline-primary">Go!</button>
    <p id="result-title" class="result-p">Calculated distance:</p>
    <p class="result-p"><span id="result"></span></p>
  </div>
</div>
{% endblock html %}

{% block css %}
<link rel="stylesheet"
      href="{% static 'interactives/distance-from-stereo-images/css/distance-from-stereo-images.css' %}">
{% endblock css %}

{% block js %}
<script type="text/javascript"
        src="{% static 'interactives/distance-from-stereo-images/js/distance-from-stereo-images.js' %}"></script>
{% endblock js %}
