{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="row mb-3 uninteractive">
    <div class="col-6 p-2 text-center">
      <!-- Row 1 -->
      <h5>{% trans "Two Dots" %}</h5>

      <!-- Row 2 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div>1</div>
          <div class="div-circle white mx-3"></div>
          <div class="div-circle white"></div>
        </div>
      </div>

      <!-- Row 3 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div>2</div>
          <div class="div-circle white mx-3"></div>
          <div class="div-circle black"></div>
        </div>
      </div>

      <!-- Row 4 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div>3</div>
          <div class="div-circle black mx-3"></div>
          <div class="div-circle white"></div>
        </div>
      </div>

      <!-- Row 5 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2">
          <div>4</div>
          <div class="div-circle black mx-3"></div>
          <div class="div-circle black"></div>
        </div>
      </div>
    </div>

    <div class="col-6 p-2 text-center">
      <!-- Row 1 -->
      <h5>{% trans "Three Dots" %}</h5>

      <!-- Row 2 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div class="mr-3">1</div>
          <div class="div-circle white"></div>
          <div class="div-circle white mx-3"></div>
          <div class="div-circle white"></div>
        </div>
      </div>

      <!-- Row 3 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div class="mr-3">2</div>
          <div class="div-circle white"></div>
          <div class="div-circle white mx-3"></div>
          <div class="div-circle black"></div>
        </div>
      </div>

      <!-- Row 4 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div class="mr-3">3</div>
          <div class="div-circle white"></div>
          <div class="div-circle black mx-3"></div>
          <div class="div-circle white"></div>
        </div>
      </div>

      <!-- Row 5 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div class="mr-3">4</div>
          <div class="div-circle white"></div>
          <div class="div-circle black mx-3"></div>
          <div class="div-circle black"></div>
        </div>
      </div>

      <!-- Row 6 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div class="mr-3">5</div>
          <div class="div-circle black"></div>
          <div class="div-circle white mx-3"></div>
          <div class="div-circle white"></div>
        </div>
      </div>

      <!-- Row 7 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div class="mr-3">6</div>
          <div class="div-circle black"></div>
          <div class="div-circle white mx-3"></div>
          <div class="div-circle black"></div>
        </div>
      </div>

      <!-- Row 8 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2 border-bottom">
          <div class="mr-3">7</div>
          <div class="div-circle black"></div>
          <div class="div-circle black mx-3"></div>
          <div class="div-circle white"></div>
        </div>
      </div>

      <!-- Row 9 -->
      <div>
        <div class="d-inline-flex justify-content-center py-2">
          <div class="mr-3">8</div>
          <div class="div-circle black"></div>
          <div class="div-circle black mx-3"></div>
          <div class="div-circle black"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/dot-combinations/css/dot-combinations.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/dot-combinations/js/dot-combinations.js' %}"></script>
{% endblock js %}
