{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="row mb-3 uninteractive">
    <div class="col-6 p-2">
      <!-- Row 1 -->
      <div class="d-flex justify-content-center my-2">
        <div class="h5">{% trans "Two Dots" %}</div>
      </div>

      <!-- Row 2 -->
      <div class="d-flex justify-content-center my-2">
        <div>1</div>
        <div class="div-circle-white mx-3">0</div>
        <div class="div-circle-white">0</div>
      </div>

      <!-- Row 3 -->
      <div class="d-flex justify-content-center my-2">
        <div>2</div>
        <div class="div-circle-white mx-3">0</div>
        <div class="div-circle-black">1</div>
      </div>

      <!-- Row 4 -->
      <div class="d-flex justify-content-center my-2">
        <div>3</div>
        <div class="div-circle-black mx-3">1</div>
        <div class="div-circle-white">0</div>
      </div>

      <!-- Row 5 -->
      <div class="d-flex justify-content-center my-2">
        <div>4</div>
        <div class="div-circle-black mx-3">1</div>
        <div class="div-circle-black">1</div>
      </div>
    </div>

    <div class="col-6 p-2">
      <!-- Row 1 -->
      <div class="d-flex justify-content-center my-2">
        <div class="h5">{% trans "Three Dots" %}</div>
      </div>

      <!-- Row 2 -->
      <div class="d-flex justify-content-center my-2">
        <div class="mr-3">1</div>
        <div class="div-circle-white">0</div>
        <div class="div-circle-white mx-3">0</div>
        <div class="div-circle-white">0</div>
      </div>

      <!-- Row 3 -->
      <div class="d-flex justify-content-center my-2">
        <div class="mr-3">2</div>
        <div class="div-circle-white">0</div>
        <div class="div-circle-white mx-3">0</div>
        <div class="div-circle-black">1</div>
      </div>

      <!-- Row 4 -->
      <div class="d-flex justify-content-center my-2">
        <div class="mr-3">3</div>
        <div class="div-circle-white">0</div>
        <div class="div-circle-black mx-3">1</div>
        <div class="div-circle-white">0</div>
      </div>

      <!-- Row 5 -->
      <div class="d-flex justify-content-center my-2">
        <div class="mr-3">4</div>
        <div class="div-circle-white">0</div>
        <div class="div-circle-black mx-3">1</div>
        <div class="div-circle-black">1</div>
      </div>

      <!-- Row 6 -->
      <div class="d-flex justify-content-center my-2">
        <div class="mr-3">5</div>
        <div class="div-circle-black">1</div>
        <div class="div-circle-white mx-3">0</div>
        <div class="div-circle-white">0</div>
      </div>

      <!-- Row 7 -->
      <div class="d-flex justify-content-center my-2">
        <div class="mr-3">6</div>
        <div class="div-circle-black">1</div>
        <div class="div-circle-white mx-3">0</div>
        <div class="div-circle-black">1</div>
      </div>

      <!-- Row 8 -->
      <div class="d-flex justify-content-center my-2">
        <div class="mr-3">7</div>
        <div class="div-circle-black">1</div>
        <div class="div-circle-black mx-3">1</div>
        <div class="div-circle-white">0</div>
      </div>

      <!-- Row 9 -->
      <div class="d-flex justify-content-center my-2">
        <div class="mr-3">8</div>
        <div class="div-circle-black">1</div>
        <div class="div-circle-black mx-3">1</div>
        <div class="div-circle-black">1</div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/dot-combinations/css/dot-combinations.css' %}">
{% endblock css %}
