{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div class="container">
  <h3 class="text-center mb-2">{% trans "Fitts' Law Experiment" %}</h3>
  <a data-toggle="collapse" href="#instructions" role="button" aria-expanded="true" aria-controls="instructions">
    Instructions (hide/show)
  </a>
  <div class="collapse show" id="instructions">
    <p>
      {% trans "Take two side-by-side pictures of an object." %}
      {% trans "Make sure the direction of the pictures are parallel, and that the object is between the two camera positions." %}
      {% trans "Note down the precise distance between the camera positions and the distance between the camera plane and the object plane." %}
      {% trans "Upload the two pictures and click on the common feature of the object in both pictures." %}
      {% trans "Enter your camera's angle-of-view and the distance between the two camera positions, and click 'Calculate distance'." %}
      {% trans "Note that resizing the window will reset the points as this can affect the size of the pictures." %}
      {% trans "The values are inputted into the equation below." %}
    </p>
  </div>

  <div id="game-view" class="container vh-100 d-flex flex-column border mt-4" style="max-height: 500px">
    <div class="row flex-grow-1">
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>

    <div id="play-again-div" class="h-100" hidden>
      <div class="d-flex justify-content-center h-100">
        <button id="play-again" class="btn btn-primary justify-content-center align-self-center">Play again?</button>
      </div>
    </div>
  </div>

  <div id="results-view" class="container mt-4 mb-4">
    <table id="results-table" class="table table-striped table-hover table-responsive-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Trial</th>
        <th scope="col">Average Distance (pixels)</th>
        <th scope="col">Width (pixels)</th>
        <th scope="col">Index of Difficulty</th>
        <th scope="col">Average Time (milliseconds)</th>
      </tr>
      </thead>
      <tbody id="results-table-body"></tbody>
    </table>
  </div>
</div>
{% endblock html %}

{% block css %}
<link rel="stylesheet" href="{% static 'interactives/fitts/css/fitts.css' %}">
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'interactives/fitts/js/fitts.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock js %}