{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<h4 class="center-align">Frequency Analysis</h4>
<div class="row center-align">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 center-align">
      <textarea placeholder="Enter some text" class="interactive-frequency-analysis form-control" id="interactive-frequency-analysis-input"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 m8 offset-md-2 center-align">
      <button id="interactive-frequency-analysis-button" class="interactive-frequency-analysis btn btn-primary btn-lg">Analyse!</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 center-align">
      <canvas id="interactive-frequency-analysis-chart-display"></canvas>
    </div>
  </div>
</div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/frequency-analysis/css/freq.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/frequency-analysis/js/frequency-analysis.js' %}"></script>
{% endblock js %}
