{% load static %}

<p>Clicking a box will reveal its number; your task is to find the highest number and enter it below. </p>
<div id="boxes-container"></div>
<strong>Highest number:</strong>
<input type="number" id="interactive-high-score-boxes-input" placeholder="Enter answer here...">
<button id="submit-button" class="btn">Submit</button>
<p id="completion-message"></p>
<button id="restart-button" class="btn red">Restart</button>

<script type="text/javascript">
  var colourful_box_images = [
    "{% static 'interactives/high-score-boxes/img/square1-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square2-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square3-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square4-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square5-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square6-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square7-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square8-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square9-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square10-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square11-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square12-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square13-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square14-200px-rounded.png' %}",
    "{% static 'interactives/high-score-boxes/img/square15-200px-rounded.png' %}",
  ]
</script>
