{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div id="interactive-high-score-boxes">
      <h3>{% trans "High Score Boxes" %}</h3>
      <p>{% trans "Clicking a box will reveal its number; your task is to find the highest number and enter it below." %}</p>
      <div id="boxes-container"></div>
      <div class="row">
        <strong>{% trans "Highest number:" %}</strong>
      </div>
      <div class="row">
        <input type="number" id="interactive-high-score-boxes-input" placeholder="Enter answer here..." class="form-control col-4 my-2">
      </div>
      <div class="row">
        <button id="submit-button" class="btn btn-primary mb-2">{% trans "Submit" %}</button>
      </div>
      <div class="row">
        <p id="completion-message"></p>
      </div>
      <div class="row">
        <button id="restart-button" class="btn btn-danger">{% trans "Restart" %}</button>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/high-score-boxes/css/style.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript">
    var colourful_box_images = [
      "{% static 'interactives/high-score-boxes/img/square1-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square2-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square3-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square4-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square5-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square6-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square7-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square8-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square9-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square10-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square11-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square12-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square13-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square14-200px-rounded.png' %}",
      "{% static 'interactives/high-score-boxes/img/square15-200px-rounded.png' %}",
    ];

    var high_score_boxes_il8n = {
      "lucky": "{% trans 'Correct! But you missed a box... You got lucky this time!' %}",
      "inefficient": "{% trans 'Correct! But you could\'ve been more efficient...' %}",
      "correct": "{% trans 'Correct! You\'ve found how to complete this challenge the most efficient way!\nYour time was ' %}",
      "seconds": "{% trans ' seconds.' %}",
      "incorrect": "{% trans 'Incorrect!' %}",
      "not-a-number": "{% trans 'Inputted value must be a whole number' %}",
    };
  </script>
  <script type="text/javascript" src="{% static 'interactives/high-score-boxes/js/script.js' %}"></script>
{% endblock js %}
