{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div id="interactive-image-bit-comparer">
          <h4 class="mt-4">{% trans "Image Bit Comparer" %}</h4>

          <div class="row">
            <div class="col s12 m4">
              <h5>{% trans "Select Image" %}</h5>
              <select id="interactive-image-bit-comparer-selected-image" class="browser-default form-control">
              </select>
            </div>
            <div class="col s12 m4">
              <h5>{% trans "Upload Image" %}</h5>
              <p>{% trans "Either drag and drop or click the button below to load your own landscape image into the interactive." %}
                <input type="file" name="image" accept="image/*" onchange="loadImageDialog(this)">
              </p>
            </div>
            <div class="col s12 m4">
              <h5>{% trans "Image Preview Size" %}</h5>
              <select id="interactive-image-bit-comparer-image-size" class="browser-default form-control">
                <option value="0.6">{% trans "Small" %}</option>
                <option value="1" selected="true">{% trans "Medium" %}</option>
                <option value="2.4">{% trans "Large (may take longer to load)" %}</option>
              </select>
            </div>
          </div>

          <div id="interactive-image-bit-comparer-canvas-parent-container"></div>

          <!-- Source canvas for loading images, hidden from user -->
          <canvas id="interactive-image-bit-comparer-source-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/image-bit-comparer/css/image-bit-comparer.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript">
    var image_bit_comparer_il8n = {
      "not-image": "{% trans 'The dropped file is not an image! File provided was ' %}",
      "bit": "{% trans ' bit' %}",
      "bits": "{% trans ' bits' %}",
      "load-error": "{% trans 'Starting image cannot be loaded when viewing file locally. Try another browser or the online version.' %}",
    };
  </script>
  <script type="text/javascript" src="{% static 'interactives/image-bit-comparer/js/image-bit-comparer.js' %}"></script>
{% endblock js %}
