{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Interactives" %}
{% endblock title %}

{% block page_heading %}
  <h1 id="interactives" class="section-heading anchor-link">Interactives</h1>
{% endblock page_heading %}

{% block content %}

  {% if all_interactives %}

    <!-- bug! does not show interactive objects in for loop -->
    {% for interative in all_interactives %}
        <h3>{{ interactive.slug }}</h3>
    {% endfor %}

  {% else %}

    <p>No interactives are available.</p>

  {% endif %}

{% endblock content %}
