{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <!-- The HTML of your interactive goes here -->
{% endblock html %}

<!-- {% block css %} -->
  <!-- The CSS of your interactive goes here. Example of how to link to css file below. -->
  <!-- <link rel="stylesheet" href="{% static 'interactives/<interactive-slug>/css/<interactive-slug>.css' %}"> -->
<!-- {% endblock css %} -->

<!-- {% block js %} -->
  <!-- The JavaScript of your interactive goes here. Example of how to link to js file below. -->
  <!-- <script type="text/javascript" src="{% static 'interactives/<interactive-slug>/js/<interactive-slug>.js' %}"></script> -->
<!-- {% endblock js %} -->
