{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div id="interactive-lzw-coding" class="row mt-3">
  <div class="col-12 text-center">
    <h1 id="heading">{% trans "LZW Coding" %}</h1>
  </div>
  <div id="content" class="container">

		<div id="interactive-lzw-coding">

            <div id="interactive-lzw-coding-left">
                <div class="interactive-lzw-coding-to-compress-block" id="interactive-lzw-coding-to-compress">
                    <p>Message to compress:</p>
                    <textarea id="interactive-lzw-coding-input">
Pease porridge hot, pease porridge cold,
Pease porridge in the pot, nine days old;
Some like it hot, some like it cold,
Some like it in the pot, nine days old.</textarea>
                    <button type="button" onclick="compress()">
                        Compress &rarr;
                    </button>
                </div>
                <!-- <div class="interactive-lzw-coding-to-compress-block" id="interactive-lzw-coding-output"> -->
                    <p>Compressed message:</p>
                    <div id="interactive-lzw-coding-encoded-text">
                    </div>
                <!-- </div> -->
            </div>

            <div id="interactive-lzw-coding-right">
                <p>Generated Dictionary:</p>
                <div id="interactive-lzw-coding-dictionary">
                    <div id="interactive-lzw-coding-dictionary-col-1" class="interactive-lzw-coding-dictionary-column">
                    </div>
                    <div id="interactive-lzw-coding-dictionary-col-2" class="interactive-lzw-coding-dictionary-column">
                    </div>
                    <div id="interactive-lzw-coding-dictionary-col-3" class="interactive-lzw-coding-dictionary-column">
                    </div>
                </div>
            </div>

		</div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/lzw-coding/css/lzw-coding.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/lzw-coding/js/lzw-coding.js' %}"></script>
{% endblock js %}
