{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div id="interactive-lzw-compression" class="row mt-3">
  <div class="col-12 text-center">
    <h1 id="heading">{% trans "LZW Coding" %}</h1>
  </div>
  <div id="content" class="container">

		<div id="interactive-lzw-compression">

            <div id="interactive-lzw-compression-left">
                <div class="interactive-lzw-compression-to-compress-block" id="interactive-lzw-compression-to-compress">
                    <p>{% trans "Message to compress" %}:</p>
                    <textarea id="interactive-lzw-compression-input">
{% trans "Pease porridge hot, pease porridge cold,
Pease porridge in the pot, nine days old;
Some like it hot, some like it cold,
Some like it in the pot, nine days old." %}</textarea>
                    <button type="button" onclick="compress()">
                        {% trans "Compress" %} &rarr;
                    </button>
                </div>
                <p>{% trans "Compressed message" %}:</p>
                <div id="interactive-lzw-compression-encoded-text">
                </div>
            </div>

            <div id="interactive-lzw-compression-right">
                <p>{% trans "Generated Dictionary" %}:</p>
                <div id="interactive-lzw-compression-dictionary">
                    <div id="interactive-lzw-compression-dictionary-col-1" class="interactive-lzw-compression-dictionary-column">
                    </div>
                    <div id="interactive-lzw-compression-dictionary-col-2" class="interactive-lzw-compression-dictionary-column">
                    </div>
                    <div id="interactive-lzw-compression-dictionary-col-3" class="interactive-lzw-compression-dictionary-column">
                    </div>
                </div>
            </div>

		</div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/lzw-compression/css/lzw-compression.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/lzw-compression/js/lzw-compression.js' %}"></script>
{% endblock js %}
