{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div id="interactive-lzw-coding" class="row mt-3">
  <div class="col-12 text-center">
    <h1 id="heading">{% trans "LZW Coding" %}</h1>
  </div>
  <div id="content" class="container">

		<div id="interactive-lzw-coding">

			<div id="interactive-lzw-coding-left">
				<p>Message to compress:</p>
				<textarea id="interactive-lzw-coding-input">
IAMSAMSAMIAM</textarea>
				<button type="button" onclick="compress()">
	            	Compress &rarr;
	          	</button>
	          	<div id="interactive-lzw-coding-output">
	          		<p>Compressed message:</p>
	          		<div id="interactive-lzw-coding-encoded-text">
					</div>
	          	</div>
			</div>

			<div id="interactive-lzw-coding-right">
				<p>Generated Dictionary:</p>
				<div id="interactive-lzw-coding-dictionary">
				</div>
			</div>

		</div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/lzw-coding/css/lzw-coding.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/lzw-coding/js/lzw-coding.js' %}"></script>
{% endblock js %}
