{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <h3 class='text-center'>{% trans "Matrix Simplifier" %}</h3>
    <p class="text-center">{% trans "Note that vectors will always be added <i>after</i> matrix multiplication operations have been applied." %}</p>
    <div class="row">
      <div id="matrix-input-container" class="containers col-6 text-center">
        <h5>{% trans "Matrices" %}</h5>
        <div class="draggable content border rounded m-1 center-block">
          <!-- <button id="close-matrix-1" type="button" class="close dismiss-eqtn" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <div id="matrix-1" class="matrix invisible">
            \[
              \begin{bmatrix}
              cos(45)   &  0  &  sin(45) \\
              0         &  1  &  0 \\
              -sin(45)  &  0  &  cos(45) \\
              \end{bmatrix}
            \]
          </div>
        </div>
    
        <div class="draggable content border rounded m-1 center-block">
          <!-- <button id="close-matrix-2" type="button" class="close dismiss-eqtn" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <div id="matrix-2" class="matrix invisible">
            \[
              \begin{bmatrix}
              10  &  0  &  0 \\
              0   &  10 &  0 \\
              0   &  0  &  10 \\
              \end{bmatrix}
            \]
          </div>
        </div>
      </div>

      <div id="vector-input-container" class="containers col-6 text-center">
        <h5>{% trans "Vectors" %}</h5>
        <div class="draggable content border rounded m-1 center-block">
          <!-- <button id="close-vector-1" type="button" class="close dismiss-eqtn vector" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <div id="vector-1" class="vector invisible">
            \[
              \begin{bmatrix}
              10 \\
              0 \\
              0 \\
              \end{bmatrix}
            \]
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="output-container" class="col-12 text-center invisible">
        <h5 class="text-center">{% trans "Output" %}</h5>
        <div class="mb-3">
          \[
            \begin{bmatrix}
            x^\prime \\
            y^\prime \\
            z^\prime \\
            \end{bmatrix}
          \] =
          <div id="matrix-output" class="d-inline"></div>
          \[
            \begin{bmatrix}
            x \\
            y \\
            z \\
            \end{bmatrix}
          \] +
          <div id="vector-output" class="d-inline"></div>
        </div>
        <div class="mb-3">
          \[
            \begin{bmatrix}
            x^\prime \\
            y^\prime \\
            z^\prime \\
            \end{bmatrix}
          \] =
          <div id="expanded-matrix" class="d-inline"></div>
          +
          <div id="vector-copy" class="d-inline"></div>
        </div>
        <div class="mb-3">
          \[
            \begin{bmatrix}
            x^\prime \\
            y^\prime \\
            z^\prime \\
            \end{bmatrix}
          \] =
          <div id="simplified-matrix" class="d-inline"></div>
        </div>
      </div>
    </div>

    <div id="add-matrices-btns" class="row d-none">
      <div class="col-3 text-center">
        <button id="add-matrix-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#matrix-modal">{% trans "Add matrix" %}</button>
      </div>
      <div class="col-2 text-center">
        <button id="add-vector-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#vector-modal">{% trans "Add vector" %}</button>
      </div>
    </div>

    <!-- Modal for adding a matrix -->
    <div id="matrix-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Add a matrix" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-0-col-0" value=1 type="number"/>
              <input class="form-control text-center" id="matrix-row-0-col-1" value=0 type="number"/>
              <input class="form-control text-center" id="matrix-row-0-col-2" value=0 type="number"/>
            </div>
    
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-1-col-0" value=0 type="number"/>
              <input class="form-control text-center" id="matrix-row-1-col-1" value=1 type="number"/>
              <input class="form-control text-center" id="matrix-row-1-col-2" value=0 type="number"/>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-2-col-0" value=0 type="number"/>
              <input class="form-control text-center" id="matrix-row-2-col-1" value=0 type="number"/>
              <input class="form-control text-center" id="matrix-row-2-col-2" value=1 type="number"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            <button id="add-matrix-from-input" type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Add matrix" %}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for adding a vector -->
    <div id="vector-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Add a vector" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="matrix-row">
              <input class="form-control text-center" id="vector-row-0" value=1 type="number"/>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="vector-row-1" value=0 type="number"/>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="vector-row-2" value=0 type="number"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            <button id="add-vector-from-input" type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Add vector" %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/matrix-simplifier/css/matrix-simplifier.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/matrix-simplifier/js/matrix-simplifier.js' %}"></script>
{% endblock js %}
