{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <h3 class='text-center'>{% trans "Matrix Simplifier" %}</h3>
    <p>{% trans "Note that vectors will always be added <i>after</i> matrix multiplication operations have been applied." %}</p>
    <div class="row">
      <div id="matrices-input-container" class="col-3 text-center">
        <div id="matrix-contianer-1" class="row containers">
          <div id="matrix-1" class="draggable matrix col">
            \[
              \begin{bmatrix}
              1   &  0  &  0 \\
              0   &  1  &  0 \\  
              0   &  0  &  1 \\  
              \end{bmatrix}
            \]
          </div>
        </div>
    
        <div id="matrix-contianer-2" class="row containers">
          <div id="matrix-2" class="draggable matrix col">
            \[
              \begin{bmatrix}
              3   &  0  &  0 \\
              0   &  3  &  0 \\  
              0   &  0  &  3 \\  
              \end{bmatrix}
            \]
          </div>
        </div>
    
        <div id="matrix-contianer-3" class="row containers">
          <div id="matrix-3" class="draggable matrix col">
            \[
              \begin{bmatrix}
              1   &  0  &  0 \\
              0   &  1  &  0 \\  
              0   &  0  &  1 \\  
              \end{bmatrix}
            \]
          </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#matrix-modal">{% trans "Add matrix" %}</button>
      </div>

      <div id="vector-input-container" class="col-3 text-center">
        <div id="vector-container-1" class="row containers">
          <div id="vector-1" class="draggable vector col">
            \[
              \begin{bmatrix}
              1 \\
              0 \\
              0 \\
              \end{bmatrix}
            \]
          </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vector-modal">{% trans "Add vector" %}</button>
      </div>

      <div id="output-container" class="col-6">
      </div>
    </div>

    <!-- Modal for adding a matrix -->
    <div id="matrix-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Add a matrix" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-0-col-0" value="1"/>
              <input class="form-control text-center" id="matrix-row-0-col-1" value="0"/>
              <input class="form-control text-center" id="matrix-row-0-col-2" value="0"/>
            </div>
    
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-1-col-0" value="0"/>
              <input class="form-control text-center" id="matrix-row-1-col-1" value="1"/>
              <input class="form-control text-center" id="matrix-row-1-col-2" value="0"/>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-2-col-0" value="0"/>
              <input class="form-control text-center" id="matrix-row-2-col-1" value="0"/>
              <input class="form-control text-center" id="matrix-row-2-col-2" value="1"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            <button id="add-matrix-from-input" type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Add matrix" %}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for adding a vector -->
    <div id="vector-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Add a vector" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="matrix-row">
              <input class="form-control text-center" id="vector-row-0" value="1"/>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="vector-row-1" value="0"/>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="vector-row-2" value="0"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            <button id="add-vector-from-input" type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Add vector" %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/matrix-simplifier/css/matrix-simplifier.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/matrix-simplifier/js/matrix-simplifier.js' %}"></script>
{% endblock js %}
