{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div id="interactive-nfa-guesser" class="text-center">
    <h3>{% trans "Practice traversing a NFA" %}</h3>
    <p>{% trans "Traverse the NFA map below with the input sequence and select all the resulting states." %}</p>

    <object id="interactive-nfa-guesser-image" data="{% static 'interactives/nfa-guesser/img/nfa.svg' %}" type="image/svg+xml"></object>

    <div id="interactive-nfa-guesser-input-sequence">
      {% trans 'Input sequence: <span id="interactive-nfa-guesser-input-sequence-value"></span>' %}
    </div>

    <div id="interactive-nfa-guesser-state-checkboxes"></div>

    <p>
      <button id="interactive-nfa-guesser-check" class="btn btn-primary btn-lg">{% trans "Check answer" %}</button>
    </p>

    <p id="interactive-nfa-guesser-result"></p>

    <p>
      <button id="interactive-nfa-guesser-new-sequence" class="btn btn-success">{% trans "Generate new input sequence" %}</button>
    </p>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/nfa-guesser/css/nfa-guesser.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/nfa-guesser/js/nfa-guesser.js' %}"></script>
{% endblock js %}
