{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
    <div class="mb-3">
        <button class="btn btn-success btn-lg" id="interactive-no-help">{% trans "Click me for help" %}</button>
    </div>
{% endblock html %}

{% block js %}
  <script type="text/javascript">
     var close_window_i18n = {
         "alert": "{% trans 'Error: No help available!' %}",
     };
  </script>
  <script type="text/javascript" src="{% static 'interactives/no-help/js/no-help.js' %}"></script>
{% endblock js %}
