{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="mb-3 container-fluid">
    <div class="row interactive">
      <div class="col-12" id="interactive-packet-attack"></div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <!--<link rel="stylesheet" href="{% static 'interactives/packet-attack/css/packet-attack.css' %}">-->
{% endblock css %}

{% block js %}
  <script type="text/javascript">
    var base = "{{ STATIC_URL }}";
  </script>
  <script type="text/javascript" src="{% static 'interactives/packet-attack/js/packet-attack.js' %}"></script>
{% endblock js %}
