{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div class="container">
	<div id="password-strength-brute">
		<div id="title-header">
			<h3>
				{% trans "Brute Force Password Cracking Estimate" %}
			</h3>
		</div>
		<div id="password-strength-brute-content">
			<form class="form-inline">
				<div id="inputField">
					<input type="password" placeholder="{% trans 'Password' %}"id="psw" required> 
				</div>
				<div id="crackingButtonContainer">
					<button type="submit" id="crackButton" class="btn btn-primary">{% trans "Get Cracking" %}</button>
				</div>
			</form>
			<div id="powerButtonContainer">
				<button type="submit" id="half" class="btn btn-primary">{% trans "Halve Power" %}</button>
				<span id="compPower"> 100,000 </span> guesses per second
				<button type="submit" id="double" class="btn btn-primary">{% trans "Double Power" %}</button>
			</div>
			<div id="crackedStatus">
				{% trans "<b>Max Time to Crack:</b>" %} <span id="timeToCrack">{% trans "Nothing Entered" %}</span>
			</div>
			<div id="informationParagraph">
				{% blocktrans %}
				This shows how long a brute force attack, trying every possible combination, would take to crack your password.
				It estimates the time based on how long your password is, and what sort of characters are in it.
				{% endblocktrans %}
			</div>
			<div id="importantInformation">
				{% blocktrans %}
				<b>Please note: Brute force attacks are not the most common password attack vector.</b>
				<b>Please do not enter real passwords into this activity.</b>
				{% endblocktrans %}
			</div>
			<div id="linkToOther">
				<a href="{% url 'interactives:interactive' 'password-strength-dict' %}" id="linkToDict"><button type="submit" class="btn btn-outline-primary btn-sm">Dictionary Attack Variant</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock html %}

{% block css %}
	<link rel="stylesheet" href="{% static 'interactives/password-strength-brute/css/password-strength-brute.css' %}">
{% endblock css %}

{% block js %}
	<script type="text/javascript" src="{% static 'interactives/password-strength-brute/js/password-strength-brute.js' %}"></script>
{% endblock js %}
