{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
	<div id="password-strength-brute">
		<div id="title-header">
			<h1>
				{% trans "Brute Force Password Cracking Estimate" %}
			</h1>
		</div>
		<div id="password-strength-brute-content">
			<input type="password" placeholder="{% trans 'Password' %}"id="psw" required> <br>
			<button type="submit" id="crackButton" class="pwcBruteForceButton">{% trans "Get Cracking" %}</button> <br>
			<button type="submit" id="half" class="pwcBruteForceButton">{% trans "Halve Power" %}</button>
			<span id="compPower"> 100,000 </span> guesses per second
			<button type="submit" id="double" class="pwcBruteForceButton">{% trans "Double Power" %}</button> <br> 
			{% trans "Max Time to Crack:" %} <span id="timeToCrack"> </span> <br> <br>
			{% blocktrans %}
			This shows how long a brute force attack*, trying every possible combination, would take to crack your password. <br>
			It estimates the time based on how long your password is, and what sort of characters are in it. <br>
			Some hackers have computers that can make <a href="https://arstechnica.com/information-technology/2012/12/25-gpu-cluster-cracks-every-standard-windows-password-in-6-hours/"> 350,000,000,000 guesses per second! </a> <br>
			See how long it will take a secure password to become considerably less secure! <br> 
			Moore's law states that a computer doubles in power every few years!** <br> <br>
			{% endblocktrans %}
			<a href="{% url 'interactives:interactive' 'password-strength-dict' %}"><button type="submit" class="pwcBruteForceButton">Dictionary Attack Variant</button></a>
		</div>
		<div id="password-strength-footnotes">
			{% blocktrans %}
			*Note that this specific version of attacks are not very common. <br>
			**Moore's law specifically refers to the number of transistors in a microchip. Find out more <a href="https://en.wikipedia.org/wiki/Moore%27s_law"> here! </a>
			{% endblocktrans %}
		</div>
	</div>
{% endblock html %}

{% block css %}
	<link rel="stylesheet" href="{% static 'interactives/password-strength-brute/css/password-strength-brute.css' %}">
{% endblock css %}

{% block js %}
	<script type="text/javascript" src="{% static 'interactives/password-strength-brute/js/password-strength-brute.js' %}"></script>
{% endblock js %}
