{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div class="container">
	<div id="password-strength-dict">
		<div id="title-header">
			<h3>
				{% trans "Dictionary Attack Password Cracking Estimate" %}
			</h3>
		</div>
		<div id="password-strength-dict-content">
			<div id="inputField">
				<input type="password" placeholder="Password" id="psw" required> 
			</div>
			<div id="buttonContainer">
				<button type="submit" id="crackButton" class="btn btn-primary"">{% trans "Get Cracking" %}</button> <br>
			</div>
			<div id="crackedStatus">
				{% trans "<b>Status:</b>" %} <span id="timeToCrack">{% trans "Nothing Entered" %}</span> 
			</div>
			<div id+"mainStatement">
				{% trans "This shows how long a dictionary attack would take to crack your password*!" %}
			</div>
			<div id="extraInformation">
				{% blocktrans %}
				It compares your password to a dictionary of common passwords. If there is a match, your password will be cracked!
				The dictionary we use only contains 318,971 different passwords, so don't be too confident if what you enter doesn't get cracked.
				{% endblocktrans %}
			</div>
			<div id="linkToOther">
				<a href="{% url 'interactives:interactive' 'password-strength-brute' %}" id="linkToBrute"><button type="submit" class="btn btn-outline-primary btn-sm">Brute Force Variant</button></a>	
			</div>		
		</div>
		<div id="password-strength-footnotes">
			{% blocktrans %}
			*Please do not enter your real passwords into this activity!
			{% endblocktrans %}
		</div>
	</div>
</div>
{% endblock html %}

{% block css %}
	<link rel="stylesheet" href="{% static 'interactives/password-strength-dict/css/password-strength-dict.css' %}">
{% endblock css %}

{% block js %}
	<script type="text/javascript">
		var words_file_location = "{% static 'interactives/password-strength-dict/passwords.txt' %}";
	</script>
	<script type="text/javascript" src="{% static 'interactives/password-strength-dict/js/password-strength-dict.js' %}"></script>
{% endblock js %}
