{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div class="container">
  <div id="main">
    <div id="instructions-div">
      <h2>Instructions:</h2>
      <p id="instructions-p"></p>
    </div>

    <div id="menu" class="align-items-center justify-content-center">
      <div id="menu-instructions">
        <h4>Co-pilot Simulator</h4>
        <p>
          You are the co-pilot of a small flight a scientists monitoring weather.
          You are about to encounter some turbulence.
          The pilot will handle flying the plane, but you will need to complete a sequence of instructions in order to assist the pilot and look after your passengers.

          Click start when you are ready to begin.
        </p>
        <div class="text-center">
          <button id="play-button" class="btn btn-primary">Start</button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="game-over-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Well done!</h5>
          </div>
          <div class="modal-body">
            You've assisted the pilot and prepared the plane for an urgent landing, while dealing with bad turbulence.
            Maybe some modification of the cockpit interfaces would have made your job easier...
          </div>
          <div class="modal-footer">
            <button type="button" id="game-over-button" class="btn btn-primary">Play Again</button>
          </div>
        </div>
      </div>
    </div>

    <div id="overlay" hidden></div>
    <object id="airplane-object" type="image/svg+xml"
            data="{% static 'interactives/plane-turbulence/img/airplane-cockpit.svg' %}" class="logo">
      Plane Cockpit
    </object>
  </div>
</div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/plane-turbulence/css/plane-turbulence.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/plane-turbulence/js/plane-turbulence.js' %}"></script>
{% endblock js %}
