{% extends interactive_mode_template %}

{% load static i18n %}

{% block interactive_html %}
    <div id="product-code-tester-interactive" class="container">
        <h1 class="text-center">{% trans "Product Code Tester" %}</h1>

        <div id="window-size-alert">
            <div class="alert alert-warning" role="alert">
                {% trans "This interactive may not fit on your screen, we recommend using it on a large screen or device." %}
            </div>
        </div>

        <p id="instructions">
            {% trans "Select the type of product code you are checking:" %}
        </p>

        <div id="product-code-tester-interactive-container"></div>

        <div id="options" class="text-center">
            <div>
                <input type="checkbox" id="use-modulo" name="use-modulo">
                <label for="use-modulo">Use modulo 10 at first step</label>
            </div>
            <button id="restart-button" class="btn btn-sm btn-danger">
                {% trans "Restart" %}
            </button>
        </div>
    </div>
{% endblock interactive_html %}

{% block interactive_css %}
    <link rel="stylesheet" href="{% static 'interactives/product-code-tester/css/product-code-tester.css' %}">
{% endblock interactive_css %}

{% block interactive_js %}
    <script type="text/javascript" src="{% static 'interactives/product-code-tester/js/product-code-tester.js' %}"></script>
{% endblock interactive_js %}
