{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="d-flex justify-content-center mb-3 uninteractive">
    <div id="remote-modified-container" class="p-2">
      <!-- Row 1 -->
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-sm btn-danger">{% trans "POWER" %}</button>
        <div></div>
      </div>

      <!-- Row 2 -->
      <div id="modified-upper-blank" class="my-2">
      </div>

      <!-- Row 3 -->
      <div class="d-flex justify-content-between my-2">
        <div>
          <div>
            <button type="button" class="btn btn-sm btn-secondary">^</button>
          </div>
          <div class="mx-3">{% trans "CH" %}</div>
          <div>
            <button type="button" class="btn btn-sm btn-secondary">v</button>
          </div>
        </div>

        <div>
          <div>
            <button type="button" class="btn btn-sm btn-secondary">^</button>
          </div>
          <div class="mx-3">{% trans "VOL" %}</div>
          <div>
            <button type="button" class="btn btn-sm btn-secondary">v</button>
          </div>
        </div>
      </div>

      <!-- Row 4 -->
      <div id="modified-lower-blank" class="my-2"></div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/remote-modified/css/remote-modified.css' %}">
{% endblock css %}
