{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="d-flex justify-content-center mb-3 uninteractive">
    <div id="remote-simple-container" class="m-2">
      <!-- Row 1 -->
      <div class="d-flex justify-content-between m-2">
        <button type="button" class="btn btn-sm btn-dark-blue">{% trans "MENU" %}</button>
        <button type="button" class="btn btn-sm btn-danger">O</button>
      </div>

      <!-- Row 2 -->
      <div class="d-flex justify-content-center m-3">
        <div id="outer-circle">
          <div id="inner-circle">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/remote-simple/css/remote-simple.css' %}">
{% endblock css %}
