{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container my-3">
    <div class="row" id="interactive-rsa-encrypter">
      <div class="col s12">
        <h3>{% trans "RSA Encrypter" %}</h3>

        <div class="row mb-2 text-left">
          <div class="col-12 col-md-4 mt-2">
            <h5>{% trans "Mode:" %}</h5>
            <select id="interactive-rsa-encrypter-key-size" class="browser-default form-control">
              <option value="public" selected>{% trans "Public key encryption" %}</option>
              <option value="private">{% trans "Private key encryption" %}</option>
            </select>
          </div>
          <div class="col-12 col-md-4 mt-2">
            <h5>{% trans "Format Scheme:" %}</h5>
            <select id="interactive-rsa-encrypter-key-format" class="browser-default form-control">
              <option value="pkcs">{% trans "PKCS" %}</option>
              <option value="components" selected>{% trans "Components" %}</option>
            </select>
          </div>
          <div class="col-12 col-md-4 mt-2">
            <h5>{% trans "Padding:" %}</h5>
            <select id="interactive-rsa-encrypter-key-size" class="browser-default form-control">
              <option value="padding" selected>{% trans "Padding" %}</option>
              <option value="no-padding">{% trans "No padding" %}</option>
            </select>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-12">
            <p><em>{% trans "<strong>Warning:</strong> No padding mode is for demonstration and should not be used for real encryption purposes." %}</em></p>
          </div>
        </div>

        <div class="row mb-2 text-left">
          <div class="col-12">
            <h5>{% trans "Key:" %}</h5>
            <textarea id="interactive-rsa-encrypter-key" class="d-none form-control" rows="8"></textarea>
            <div id="interactive-rsa-encrypter-key-components" class="col-12">
              <div class="col-12">
                {% trans "Paste the components of your key into this box or fill them out individually:" %}
                <textarea id="interactive-rsa-encrypter-components-box" class="form-control" rows="1"></textarea>
              </div>
              <div class="col-12">

              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2 text-left">
          <div class="col-12">
            <h5>{% trans "Plain Message:" %}</h5>
            <textarea id="interactive-rsa-encrypter-plaintext" class="form-control" rows="4"></textarea>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-12 my-2">
            <button id="interactive-rsa-encrypter-button" class="btn btn-primary">{% trans "Encrypt" %}</button>
          </div>
        </div>

        <div class="row mb-2 text-left">
          <div class="col-12">
            <h5>{% trans "Encrypted Message:" %}</h5>
            <textarea id="interactive-rsa-encrypter-ciphertext" class="form-control" rows="4" readonly></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/rsa-encrypter/css/rsa-encrypter.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/rsa-encrypter/js/rsa-encrypter.js' %}"></script>
{% endblock js %}
