{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
	<div class="container">
    <div class="row" id="interactive-rsa-no-padding" data-iframe-height>
      <div class="col-12">
        <h3>{% trans 'RSA <span id="interactive-rsa-no-padding-mode">Encrypter</span>' %}</h3>

        <h5>{% trans 'Key' %}</h5>
        <textarea id="interactive-rsa-no-padding-key" class="form-control mb-3" rows="5"></textarea>

        <h5>{% trans '<span id="interactive-rsa-no-padding-input-type">Plain</span> Text' %}</h5>
        <textarea id="interactive-rsa-no-padding-input-text" class="form-control mb-1" rows="5"></textarea>

        <button id="interactive-rsa-no-padding-process" class="btn btn-primary mb-3">{% trans 'Encrypt' %}</button>

        <h5><span id="interactive-rsa-no-padding-output-type">{% trans 'Cipher</span> Text' %}</h5>
        <textarea id="interactive-rsa-no-padding-output-text" class="form-control mb-3" rows="5"></textarea>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/rsa-no-padding/css/rsa-no-padding.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/rsa-no-padding/js/rsa-jsencrypt-no-padding.js' %}"></script>
  <script type="text/javascript" src="{% static 'interactives/rsa-no-padding/js/third-party/jsencrypt-no-padding.js' %}"></script>
{% endblock js %}
