{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="row" id="interactive-rsa-jsencrypt">
          <div class="col-sm-12">
            <h3 id="interactive-rsa-jsencrypt-mode">{%  trans 'RSA Encrypter' %}</h3>

            <h5>{% trans "Key" %}</h5>
            <textarea id="interactive-rsa-jsencrypt-key" rows="5" class="form-control mb-2"></textarea>

            <h5 id="interactive-rsa-jsencrypt-input-type">{% trans 'Plain Text' %}</h5>
            <textarea id="interactive-rsa-jsencrypt-input-text" rows="5" class="form-control mb-1"></textarea>

            <button id="interactive-rsa-jsencrypt-process" class="btn btn-primary mb-2">{% trans "Encrypt" %}</button>

            <h5 id="interactive-rsa-jsencrypt-output-type">{% trans 'Cipher Text' %}</h5>
            <textarea id="interactive-rsa-jsencrypt-output-text" rows="5" class="form-control"></textarea>

            <p>{% trans 'This interactive uses the <code><a href="http://travistidwell.com/jsencrypt/#">jsencrypt</a></code> library.' %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/rsa-jsencrypt/css/rsa-jsencrypt.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/rsa-jsencrypt/js/rsa-jsencrypt.js' %}"></script>
{% endblock js %}
