{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container my-3">
    <div class="row" id="rsa-decryption">
      <div class="col s12">
        <h3>{% trans "RSA Decryption" %}</h3>

        <div class="row mb-2 text-left">
          <div class="col-12 col-md-4 mt-2">
            <h5>{% trans "Mode:" %}</h5>
            <select id="rsa-decryption-key-size" class="browser-default form-control">
              <option value="public">{% trans "Public key decryption" %}</option>
              <option value="private" selected>{% trans "Private key decryption" %}</option>
            </select>
          </div>
          <div class="col-12 col-md-4 mt-2">
            <h5>{% trans "Key Format Scheme:" %}</h5>
            <select id="rsa-decryption-key-format" class="browser-default form-control">
              <option value="pkcs">{% trans "PKCS" %}</option>
              <option value="components" selected>{% trans "Components" %}</option>
            </select>
          </div>
          <div class="col-12 col-md-4 mt-2">
            <h5>{% trans "Padding:" %}</h5>
            <select id="rsa-decryption-key-size" class="browser-default form-control">
              <option value="padding" selected>{% trans "Padding" %}</option>
              <option value="no-padding">{% trans "No padding" %}</option>
            </select>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-12">
              <p class="text-muted"><em>{% trans "<strong>Warning:</strong> Do not trust this interactive for any real encryption purposes." %}</em></p>
          </div>
        </div>

        <div class="row mb-2 text-left">
          <div class="col-12">
            <h5>{% trans "Key:" %}</h5>
            <textarea id="rsa-decryption-key" class="form-control" rows="8"></textarea>
          </div>
        </div>

        <div class="row mb-2 text-left">
          <div class="col-12">
            <h5>{% trans "Encrypted Message:" %}</h5>
            <textarea id="rsa-decryption-ciphertext" class="form-control" rows="4"></textarea>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-12 my-2">
            <button id="rsa-decryption-button" class="btn btn-primary">{% trans "Decrypt" %}</button>
          </div>
        </div>

        <div class="row mb-2 text-left">
          <div class="col-12">
            <h5>{% trans "Decrypted Message:" %}</h5>
            <textarea id="rsa-decryption-plaintext" class="form-control" rows="4" readonly></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/rsa-decryption/css/rsa-decryption.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/rsa-decryption/js/rsa-decryption.js' %}"></script>
{% endblock js %}
