{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div class="row mt-5">
      <div id="scene" class="col-12"></div>
    </div>

    <div class="row my-3">
      <div id="object-container" class="col-4 text-center d-none">
        <h5>{% trans "Objects" %}</h5>
        <ul id="selectable-objects" class="pl-0">
          <li class="object border rounded p-2 mb-1 center-block ui-selected">{% trans "Sphere 1" %}</li>
        </ul>
        <div class="input-group mb-2">
          <select id="object-selection" class="custom-select">
            <option selected disabled>{% trans "Select an object to add..." %}</option>
            <option value="sphere">{% trans "Sphere" %}</option>
            <option value="cube">{% trans "Cube" %}</option>
            <option value="cone">{% trans "Cone" %}</option>
          </select>
          <div class="input-group-append">
            <button id="add-object" class="btn btn-primary" type="button">{% trans "Add object" %}</button>
          </div>
        </div>
      </div>

      <div id="equation-container" class="col-12 text-center d-none">
        <h5 id="eqtn-title">{% trans "Transformation for sphere" %}</h5>
        <div class="row d-flex justify-content-center">
          <div id="matrix-container" class="matrix col-6 text-center d-none">
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-0-col-0" value=1>
              <input class="form-control text-center" id="matrix-row-0-col-1" value=0>
              <input class="form-control text-center" id="matrix-row-0-col-2" value=0>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-1-col-0" value=0>
              <input class="form-control text-center" id="matrix-row-1-col-1" value=1>
              <input class="form-control text-center" id="matrix-row-1-col-2" value=0>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-2-col-0" value=0>
              <input class="form-control text-center" id="matrix-row-2-col-1" value=0>
              <input class="form-control text-center" id="matrix-row-2-col-2" value=1>
            </div>
          </div>
          <span class="col-1 plus-sign d-none">+</span>
          <div id="vector-container" class="vector col-2 d-none">
            <div class="vector-row">
              <input class="form-control text-center" id="vector-row-0" value=1>
            </div>
            <div class="vector-row">
              <input class="form-control text-center" id="vector-row-1" value=0>
            </div>
            <div class="vector-row">
              <input class="form-control text-center" id="vector-row-2" value=0>
            </div>
          </div>
        </div>
        <button id="apply-transformation" class="mt-2 btn btn-primary">{% trans "Apply" %}</button>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/scene-editor/css/scene-editor.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript">
    var base_static_path = "{{ STATIC_URL }}";
  </script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'interactives/scene-editor/js/scene-editor.js' %}"></script>
{% endblock js %}
