{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container">
    <div class="row mt-5">
      <div id="scene" class="col-12"></div>
    </div>

    <div class="row my-3">
      <div id="object-container" class="col-12 col-sm-4 text-center d-none">
        <h5 class="heading-line heading-line-text">{% trans "New object:" %}</h5>
        <form>
          <div class="form-group">
            <select id="object-selection" class="custom-select">
              <option value="sphere">{% trans "Sphere" %}</option>
              <option value="cube">{% trans "Cube" %}</option>
              <option value="cone">{% trans "Cone" %}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" maxlength="20" class="form-control" id="name-input" placeholder="{% trans 'Name (optional)' %}">
          </div>
          <div class="form-group">
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <label for="colour-input" id="colour-input-label" class="input-group-text">#</label>
              </div>
              <input type="text" maxlength="6" class="form-control" aria-describedby="random-colour-help" id="colour-input" placeholder="{% trans 'Colour (Hexadecimal)' %}">
            </div>
            <small id="random-colour-help" class="form-text text-muted">{% trans "Leave blank for a random colour" %}</small>
          </div>
          <button id="add-object" class="col-12 btn btn-primary" type="button">{% trans "Add object" %}</button>
        </form>
      </div>

      <div id="equation-container" class="col-12 text-center d-none">
        <h5 id="eqtn-title" class="heading-line heading-line-text"></h5>
        <div id="scene-creation-title-area" class="row d-none heading-line">
          <h5 id="scene-creation-title" class="col-4 offset-2 heading-line-text">{% trans "Manipulating object:" %}</h5>
          <select id="selectable-objects" class="custom-select col-4 heading-line"></select>
          <span id="object-identifier"></span>
        </div>
        <div class="row d-flex justify-content-center">
          <div id="matrix-container" class="matrix col-6 text-center d-none">
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-0-col-0" value=1>
              <input class="form-control text-center" id="matrix-row-0-col-1" value=0>
              <input class="form-control text-center" id="matrix-row-0-col-2" value=0>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-1-col-0" value=0>
              <input class="form-control text-center" id="matrix-row-1-col-1" value=1>
              <input class="form-control text-center" id="matrix-row-1-col-2" value=0>
            </div>
            <div class="matrix-row">
              <input class="form-control text-center" id="matrix-row-2-col-0" value=0>
              <input class="form-control text-center" id="matrix-row-2-col-1" value=0>
              <input class="form-control text-center" id="matrix-row-2-col-2" value=1>
            </div>
          </div>
          <span class="col-1 plus-sign d-none">+</span>
          <div id="vector-container" class="vector col-2 d-none">
            <div class="vector-row">
              <input class="form-control text-center" id="vector-row-0" value=0>
            </div>
            <div class="vector-row">
              <input class="form-control text-center" id="vector-row-1" value=0>
            </div>
            <div class="vector-row">
              <input class="form-control text-center" id="vector-row-2" value=0>
            </div>
          </div>
        </div>
        <button id="apply-transformation" class="mt-2 btn btn-primary">{% trans "Apply" %}</button>
      </div>

      <div id="applied-container" class="col-12 col-sm-4 text-center d-none">
        <h5 class="heading-line heading-line-text">{% trans "Applied matrices:" %}</h5>
        <div id="applied-matrices"></div>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/scene-editor/css/scene-editor.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript">
    var base_static_path = "{{ STATIC_URL }}";
  </script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'interactives/scene-editor/js/scene-editor.js' %}"></script>
{% endblock js %}
