{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <div class="container-fluid">
    <h4 class="text-center">{% trans "SHA2 Hashing" %}</h4>
    <div class="row text-center mb-3">
      <div class="col-sm-12 col-md-4 py-2">
        <input type="text" id="interactive-sha2-plaintext" class="interactive-sha2-plaintext form-control" placeholder="{% trans 'Text to convert' %}" title="Text to convert">
      </div>
      <div class="col-sm-12 col-md-4 py-2">
        <button id="interactive-sha2-button" class="btn btn-primary">{% trans "Hash" %}</button>
      </div>
      <div class="col-sm-12 col-md-4 py-2">
        <textarea id="interactive-sha2-hash" placeholder="{% trans 'Hashed message will be shown here' %}" class="form-control"></textarea>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/sha2/css/sha2.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/sha2/js/sha2.js' %}"></script>
{% endblock js %}
