{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<div id="sorting-algorithms-interactive" class="row mt-3">
  <div class="col-12 text-center">
    <h1 id="heading">{% trans "Sorting Algorithms" %}</h1>
  </div>
  <div id="content" class="container">
    <div id="sorting-algorithms-interactive-item-unsorted-row-1" class="d-flex justify-content-between mb-3">
        <div class="dashed-box square">
          <img id="img-0" class="sorting-boxes" data-weight="" src="{% static 'img/interactives/colourful-box-images/square1-256px.png' %}">
        </div>

        <div class="dashed-box square">
          <img id="img-1" class="sorting-boxes" data-weight="" src="{% static 'img/interactives/colourful-box-images/square2-256px.png' %}">
        </div>

        <div class="dashed-box square">
          <img id="img-2" class="sorting-boxes" data-weight="" src="{% static 'img/interactives/colourful-box-images/square3-256px.png' %}">
        </div>

        <div class="dashed-box square">
          <img id="img-3" class="sorting-boxes" data-weight="" src="{% static 'img/interactives/colourful-box-images/square4-256px.png' %}">
        </div>

        <div class="dashed-box square">
          <img id="img-4" class="sorting-boxes" data-weight="" src="{% static 'img/interactives/colourful-box-images/square5-256px.png' %}">
        </div>

        <div class="dashed-box square">
          <img id="img-5" class="sorting-boxes" data-weight="" src="{% static 'img/interactives/colourful-box-images/square6-256px.png' %}">
        </div>

        <div class="dashed-box square">
          <img id="img-6" class="sorting-boxes" data-weight="" src="{% static 'img/interactives/colourful-box-images/square7-256px.png' %}">
        </div>

        <div class="dashed-box square">
          <img id="img-7" class="sorting-boxes" data-weight="" src="{% static 'img/interactives/colourful-box-images/square8-256px.png' %}">
        </div>
      </div>

      <div id="sorting-algorithms-interactive-item-unsorted-row-2" class="d-none justify-content-between mb-3">
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
      </div>

      <div class="d-flex justify-content-center">
        <div id="left-weight-content" class="dashed-box square"></div>
        <img id="scale" class="item-box-content point-up square" src="{% static 'interactives/sorting-algorithms/img/scalebar-sheet0.png' %}">
        <div id="right-weight-content" class="dashed-box square"></div>
      </div>

      <p class="text-center mb-3">
        {% trans "Points to heaviest box" %}
      </p>

      <div id="sorting-algorithms-interactive-item-sorted-row" class="d-flex justify-content-between mb-1">
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
        <div class="dashed-box square"></div>
      </div>

      <div class="d-flex justify-content-between mb-3 px-1">
        <strong>
          {% trans "Lightest box" %}
        </strong>
        <strong>
          {% trans "Heaviest box" %}
        </strong>
      </div>

      <div class="text-center">
        <div id="check-order-result-text-feedback" class="h5">
          <br>
        </div>
        <div class="mb3">
          <button class="btn btn-primary" type="button" id="check-sorted-button">{% trans "Check Order" %}</button>
          <button class="btn btn-danger" type="button" id="reset-button">{% trans "Reset" %}</button>
        </div>
        <p id="comparison-counter-text"></p>
        <button class="btn btn-secondary btn-sm" type="button" id="toggle-second-row"></button>
      </div>
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/sorting-algorithms/css/sorting-algorithms.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/sorting-algorithms/js/sorting-algorithms.js' %}"></script>
{% endblock js %}
