{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}



  <div id="sorting-algorithms-interactive" class="row mt-3">
    <div class="col-12 text-center">
      <h1 id="heading">{% trans "Sorting Algorithms" %}</h1>
    </div>
    <div id="content" class="container">
      
      <div id="sorting-algorithms-interactive-item-unsorted-row-1" class="sorting-algorithms-interactive-container flex-container">
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-a" class="flex-item-content">
              <img id="box-a-img" class="to-sort" data-weight="" src="{% static 'img/interactives/colourful-box-images/square1-256px.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-b" class="flex-item-content">
              <img id="box-b-img" class="to-sort" data-weight="" src="{% static 'img/interactives/colourful-box-images/square2-256px.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-c" class="flex-item-content">
              <img id="box-c-img" class="to-sort" data-weight="" src="{% static 'img/interactives/colourful-box-images/square3-256px.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-d" class="flex-item-content">
              <img id="box-d-img" class="to-sort" data-weight="" src="{% static 'img/interactives/colourful-box-images/square4-256px.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-e" class="flex-item-content">
              <img id="box-e-img" class="to-sort" data-weight="" src="{% static 'img/interactives/colourful-box-images/square5-256px.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-f" class="flex-item-content">
              <img id="box-f-img" class="to-sort" data-weight="" src="{% static 'img/interactives/colourful-box-images/square6-256px.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-g" class="flex-item-content">
              <img id="box-g-img" class="to-sort" data-weight="" src="{% static 'img/interactives/colourful-box-images/square7-256px.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-h" class="flex-item-content">
              <img id="box-h-img" class="to-sort" data-weight="" src="{% static 'img/interactives/colourful-box-images/square8-256px.png' %}">
            </div>
        </div>
      </div>

      <div id="sorting-algorithms-interactive-item-unsorted-row-2" class="sorting-algorithms-interactive-container flex-container">
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-i" class="flex-item-content">
              <img id="box-i-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-j" class="flex-item-content">
              <img id="box-j-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-k" class="flex-item-content">
              <img id="box-k-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-l" class="flex-item-content">
              <img id="box-l-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-m" class="flex-item-content">
              <img id="box-m-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-n" class="flex-item-content">
              <img id="box-n-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-o" class="flex-item-content">
              <img id="box-o-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-p" class="flex-item-content">
              <img id="box-p-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
      </div>


      <div id="sorting-algorithms-interactive-item-scale-row" class="sorting-algorithms-interactive-container flex-container">
        <div class="sorting-algorithms-interactive-scale flex-item">
            <div id="box-q" class="left-weight flex-item-content">
              <img id="box-q-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-scale flex-item">
            <div id="scale" class="flex-item-content">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-scale flex-item">
            <div id="box-r" class="right-weight flex-item-content">
              <img id="box-r-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
      </div>

      <div id="sorting-algorithms-interactive-item-sorted-row" class="sorting-algorithms-interactive-container flex-container">
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-s" class="ordered-box flex-item-content">
              <img id="box-s-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-t" class="ordered-box flex-item-content">
              <img id="box-t-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-u" class="ordered-box flex-item-content">
              <img id="box-u-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-v" class="ordered-box flex-item-content">
              <img id="box-v-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-w" class="ordered-box flex-item-content">
              <img id="box-w-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-x" class="ordered-box flex-item-content">
              <img id="box-x-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-y" class="ordered-box flex-item-content">
              <img id="box-y-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
        <div class="sorting-algorithms-interactive-item flex-item">
            <div id="box-z" class="ordered-box flex-item-content">
              <img id="box-z-img" class="placeholder-image" data-weight="0" src="{% static 'interactives/sorting-algorithms/img/white-placeholder.png' %}">
            </div>
        </div>
      </div>

      <div id="sorting-algorithms-interactive-item">
        <h3 id="check-order-result-text-incorrect">The boxes are not in order!</h3>
        <h3 id="check-order-result-text-correct">The boxes are in order!</h3>
        <button type="button" onclick="checkOrder()" id="check-sorted-button">Check Order</button>
      </div>
      
    </div> 

  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/sorting-algorithms/css/sorting-algorithms.css' %}">
  <link rel="stylesheet" href="{% static 'interactives/sorting-algorithms/css/dragula.min.css' %}">
{% endblock css %}

{% block js %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
  <script type="text/javascript" src="{% static 'interactives/sorting-algorithms/js/sorting-algorithms.js' %}"></script>
{% endblock js %}
