{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
<!-- Note that all images used are public domain or licenced under CC0.
Website of the source for each image is included in its filename -->
<div class="container uninteractive">
  <div class="system-layers-title">
    {% trans 'Your computer as a layered system' %}
  </div>
  <!-- User -->
  <div class="row system-layer">
    <div class="col-8">
      
    </div>
    <div class="col-4">
      {% trans 'User' %}
    </div>
  </div>
  <!-- Programs -->
  <div class="row system-layer border-top-0">
    <div class="col-8">
        
    </div>
    <div class="col-4">
      {% trans 'Programs' %}
    </div>
  </div>
  <!-- OS -->
  <div class="row system-layer border-top-0">
    <div class="col-6">
        
    </div>
    <div class="col-6">
    {% trans 'Operating System' %}
    </div>
  </div>
  <!-- Hardware -->
  <div class="row system-layer border-top-0">
    <div class="col-8">
        
    </div>
    <div class="col-4">
      {% trans 'Hardware' %}
    </div>
  </div>
</div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/system-layers/css/system-layers.css' %}">
{% endblock css %}
