<!DOCTYPE HTML>
<html>
  <head>
    <script language="javascript" type="text/javascript" src="js/lib/phaser.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/lib/logger.min.js"></script>

    <script type="text/javascript" src="js/play.js"></script>
    <script type="text/javascript" src="js/howtoplay.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/load.js"></script>
    <script type="text/javascript" src="js/game.js"></script>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/table.css">

    <script src="js/player.js"></script>
    <script src="js/ai.js"></script>
    <script src="js/Main.js"></script>

    <title>Sticks Game</title>
  </head>
  <body>
    <div id="gameDiv"> </div>
    <div class = "relative" style = "font-size: 100%;">
        <table id="excelDataTable" border="1">
        </table>
    </div>
  </body>
</html>