{% extends interactive_mode_template %}

{% load i18n %}
{% load static %}

{% block html %}
  <h2>Viola-Jones Face Detection</h2>
  <div class="column">
    <h1>Viola-Jones Face Detection</h1>
    <p>Click and drag the five Haar features on the left side of the image, onto the faces where they are valid.</p>
    <div id="features">

    </div>
    <p id="values">
      <strong>White Square intensity:</strong> <span id="whiteValue">0</span></br>
      <strong>Black Square intensity:</strong> <span id="blackValue">0</span></br>
      <strong>Haar-like Features found:</strong> <span id="found">0</span>/5<br>
      <em id="feedback"></em>
    </p>
    <hr>
    <p>Upload a custom image:
      <input type="file" class="form-control" name="image" onchange="loadImageDialog(this)" accept="image/*" />
    </p>
    <button id="find-faces">{% trans "Find faces" %}</button>
    <button id="clear-rectangles">{% trans "Hide faces" %}</button>
  </div>
  <div id="image-container">
    <img class="haar" id="haar1" src="{% static 'interactives/viola-jones-face-detector/images/haar1.png' %}" draggable="false">
    <img class="haar" id="haar2" src="{% static 'interactives/viola-jones-face-detector/images/haar2.png' %}" draggable="false">
    <img class="haar" id="haar3" src="{% static 'interactives/viola-jones-face-detector/images/haar3.png' %}" draggable="false">
    <img class="haar" id="haar4" src="{% static 'interactives/viola-jones-face-detector/images/haar4.png' %}" draggable="false">
    <img class="haar" id="haar5" src="{% static 'interactives/viola-jones-face-detector/images/haar5.png' %}" draggable="false">
    <canvas id="canvas" class="greyscale"></canvas>
    <div style="display:none">
      <img id="img" src="{% static 'interactives/viola-jones-face-detector/images/faces.jpg' %}">
    </div>
  </div>
{% endblock html %}

{% block css %}
  <link rel="stylesheet" href="{% static 'interactives/viola-jones-face-detector/css/viola-jones.css' %}">
{% endblock css %}

{% block js %}
  <script type="text/javascript" src="{% static 'interactives/viola-jones-face-detector/js/viola-jones.js' %}"></script>
  <script type="text/javascript" src="{% static 'interactives/viola-jones-face-detector/libs/face-min.js' %}"></script>
{% endblock js %}
