{% load static %}
{% load render_html_field %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ interactive.name }} - Computer Science Field Guide</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <link rel="stylesheet" href="{% static 'css/third-party/featherlight.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/third-party/normalize.css' %}">
    
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'css/third-party/materialize.min.css' %}" type="text/css" media="screen,projection"/>
    
    <link rel="shortcut icon" href="{% static 'img/guide-favicon.png' %}">

    <script type="text/javascript" src="{% static 'js/third-party/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/third-party/jquery.js' %}"></script>
  </head>

  <body>

      <header class="whole-page-interactive-header">

        <div>
          <nav class="z-depth-0">
            <div class="nav-wrapper">
              <img src="{% static 'img/logos/guide-logo-light.png' %}">
              <a href="/en/" class="brand-logo">CSFG</a>
              <h4>{{ interactive.name }}</h4>
            </div>
          </nav>
        </div>

      </header>

      <body>
        <div class="row whole-page-interactive-content">
          <div class="col s12 m10 l8 offset-l2 offset-m1">
            <div class="interactive" id="interactive-{{ interactive.slug }}">
              {% include interactive.template %}
            </div>
          </div>
        </div>
      </body>

    <footer class="whole-page-interactive-footer">
      <div class="footer-third">
        <div class="container">
          <a href="further-information/releases.html" class="version-number">v2.9.1</a>
          <p>The content in Computer Science Field Guide uses a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons (CC BY-NC-SA 4.0) license</a>.</p>
          <p>The underlying source code used to manage and display this content, is licensed under the <a href="https://opensource.org/licenses/MIT">MIT license</a>.</p>
        </div>
      </div>
    </footer>

  </body>

</html>
