canvas {
  width: 100% !important;
  height: 100% !important;
}

.object {
  background-color: #fff;
  width: 80%;
}

// Copy bootstrap helper class but add !important
.center-block {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.matrix-row input {
  display: inline-block;
  width: 30%;
  margin-bottom: 3px;
  font-family: monospace;
}

.vector-row input {
  display: inline-block;
  width: 70%;
  margin-bottom: 3px;
  font-family: monospace;
}

.plus-sign {
  padding-top: 2.5rem;
}
