canvas {
  width: 100% !important;
  height: 100% !important;
}

.object {
  background-color: white;
  width: 80%;
}

// Copy bootstrap helper class but add !important
.center-block {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.matrix-row input {
  display: inline-block;
  width: 30%;
  margin-bottom: 3px;
  font-family: monospace;
}

.vector-row input {
  display: inline-block;
  width: 70%;
  margin-bottom: 3px;
  font-family: monospace;
}

.plus-sign {
  padding-top: 2.5rem;
}

#selectable-objects .ui-selected {
  background: #3f51b5;
  color: white;
}

li:hover {
  border-color: #3f51b5;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(63, 81, 181, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(63, 81, 181, 0.6);
}
