#interactive-trainsylvania-planner-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 400px;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    text-transform: uppercase;
}

/* WebKit, Blink, Edge */
#interactive-trainsylvania-planner-input::-webkit-input-placeholder {
    text-transform: none;
}

/* Mozilla Firefox 4 to 18 */
#interactive-trainsylvania-planner-input:-moz-placeholder {
   text-transform: none;
}

/* Mozilla Firefox 19+ */
#interactive-trainsylvania-planner-input::-moz-placeholder {
   text-transform: none;
}

/* Internet Explorer 10-11 */
#interactive-trainsylvania-planner-input:-ms-input-placeholder {
   text-transform: none;
}

#interactive-trainsylvania-planner-result.error {
  color: red;
}
