#interactive-trainsylvania-planner-input {
  font-size: 1.2em;
  width: 400px;
  text-transform: uppercase;
}

/* WebKit, Blink, Edge */
#interactive-trainsylvania-planner-input::-webkit-input-placeholder {
    text-transform: none;
}

/* Mozilla Firefox 4 to 18 */
#interactive-trainsylvania-planner-input:-moz-placeholder {
   text-transform: none;
}

/* Mozilla Firefox 19+ */
#interactive-trainsylvania-planner-input::-moz-placeholder {
   text-transform: none;
}

/* Internet Explorer 10-11 */
#interactive-trainsylvania-planner-input:-ms-input-placeholder {
   text-transform: none;
}

#interactive-trainsylvania-planner-result.error {
  color: red;
}
