.audio-bar {
    fill: grey;
    stroke: black;
    stroke-width: 1;
}

.audio-bar:hover {
    fill: blue;
}

.audio-bar-label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.loading-border {
    fill: none;
    fill-opacity: 0;
    stroke-width: 3;
    stroke: black;
}

.loading-bar {
    fill: blue;
    fill-opacity: 1;
}

.select {
    stroke-width: 0;
    fill: grey;
    fill-opacity: 0.3;
}

.hide {
    visibility: hidden;
}

.axis {
    stroke-width: 2px;
    stroke: grey;
}
