.audio-bar {
    fill: grey;
    stroke: black;
    stroke-width: 1;
}

.audio-bar:hover {
    fill: blue;
}

.loading-border {
    fill: none;
    fill-opacity: 0;
    stroke-width: 3;
    stroke: black;
}

.loading-bar {
    fill: blue;
    fill-opacity: 1;
}

.select {
    stroke-width: 0;
    fill: grey;
    fill-opacity: 0.3;
}

.tooltip-text {
    pointer-events: none;
    stroke: black;
    font-size: 25px;
}

.tooltip-background {
    pointer-events: none;
    fill: white;
}
