
body {
}

/* covering boxes */
div.box {
    width: 100px;
    height: 100px;
    /*border: 10px;*/
    /*float: left;*/
    /*top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;*/
    /*border-style: solid;*/
    /*border-color: #ff0000 #0000ff;*/
    position: absolute;
    background-color: white;
    z-index: 3;
    background-size: contain;
    /*padding: 50px, 50px, 50px, 50px;*/

}

div.intHoldingDiv {
	width: 100px;
	height: 100px;

	text-align: center;
	vertical-align: middle;
	line-height: 100px; 

	/*float: left;*/
	display: block;
	position: relative; 
	z-index: 2; /*IF less than div.box THEN THIS DIV IS BEHIND THE OTHER ONE! */

	font-size: 1.5rem;
	font-weight: bold;
	/*padding: 50px, 50px, 50px, 50px;*/

}

/* holds the box and the intHoldingDiv */
div.boxContainer {
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
	/*padding: 50px, 50px, 50px, 50px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#restartButton {
	display: none;
}