.circle {
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    position: absolute;
}

#circles-area {
    position: relative;
}

#bias-in-big-data-container {
    padding: 6rem !important;
}

.glow {
    box-shadow: 0 0 1rem 0.5rem aqua;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}

.white {
    background: white;
}

.black {
    background: black;
}

.lime {
    background: lime;
}

.darkorange {
    background: darkorange;
}

.fuchsia {
    background: fuchsia;
}
