@import "node_modules/nouislider/distribute/nouislider";

.circle {
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    position: absolute;
}

#circles-area {
    position: relative;
    border-radius: 1rem;
}

#bias-in-big-data-container {
    padding: 6rem !important;
}

.noUi-pips {
    padding-top: 0.3125rem;
}

#background-colour-slider-container {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.noUi-target {
    background: linear-gradient(
        to right,
        hsl(0,100%,50%),
        hsl(60,100%,50%),
        hsl(120,100%,50%),
        hsl(180,100%,50%),
        hsl(240,100%,50%),
        hsl(300,100%,50%),
        hsl(360,100%,50%)
    );
}

.noUi-handle {
    border: 0.125rem white solid;
    height: 1.75rem !important;
    width: 1.75rem !important;
    border-radius: 50%;
    top: -6px !important;
}

.noUi-handle:before,
.noUi-handle:after {
    content: none;
}

.noUi-connect {
    background: none;
}

.glow {
    box-shadow: 0 0 1rem 0.5rem aqua;
}

.red {
    background: red;
}

.lime {
    background: lime;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.purple {
    background: #9d03fc;
}

.darkorange {
    background: darkorange;
}

.fuchsia {
    background: fuchsia;
}

.aquamarine {
    background: #00ffcc;
}

.deeppink {
    background: #ff0088;
}