.system-layers-title {
    font-size: 26pt;
}

.system-layer {
    border: 5px solid;
    padding: 10px;
    padding-right: 20px;
}

.system-text {
    line-height: 80px;
    font-size: 20pt;
    text-align: right;
    vertical-align: middle;
}

.system-image {
    height: 80px;
}
