
#user-input {
    background-color: blue;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    text-align: center;
}

#coordinates {
    background-color: blue;
}

#code {
    background-color: blue;
}

#symbol-grid, .row {
    display: block;
}

#code-template img {
    display: inline;
    background-color: #fff;
}

#code-template button {
    display: block;
}

img {
    width: 30px;
}

label {
    display: block;
}


body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}


canvas {
    /*width: 80% !important;*/
}
