.uc-title {
    text-align: center;
}

#interactive-unicode-chars-error {
    text-align: left;
    color: #ff0000;
}

label {
    text-align: left;
}

#interactive-unicode-chars input {
    width: 250px;
}
