#interactive-regular-expression-search .CodeMirror {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.2em;
  height: inherit;
  border: 2px solid #555;
  padding: 0 3px;
  margin: 0.5rem 0;
}

#interactive-regular-expression-search .CodeMirror .cm-highlight {
  background-color: lightgreen;
}

#interactive-regular-expression-search table td,
#interactive-regular-expression-search table th {
  padding: 0.5rem;
}

#interactive-regular-expression-search table td:nth-child(1) {
  font-family: monospace;
}

.CodeMirror-line {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  padding: inherit !important;
  font-size: 1.2em !important;
}
