#trainsylvania-map {
    svg {
        g#fsa,
        g#a-arrows,
        g#a-arrow-labels,
        g#b-arrows,
        g#b-arrow-labels {
            display: none;
        }

        g#labels > text + text {
            font-weight: bold;
        }
    }
}
@page {
    size: auto;
}
