.number-memory {
  align-self: center;
}

#number-memory-title {
  font-size: 2rem;
}

#number-text {
  width: 12rem;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #444444;
  font-family: monospace;
  font-size: 1.5rem;
  user-select: none;
}

#middle-text {
  font-size: 1.2rem;
}

.red {
  color: #dc3545;
}

.green {
  color: #28a745;
}
