#interactive-regular-expression-search .CodeMirror {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.2em;
  height: inherit;
  border: 2px solid #555;
  padding: 0 3px;
  margin: 0.5rem 0;
}
#interactive-regular-expression-search .CodeMirror .cm-highlight {
  background-color: lightgreen;
}
