// #interactive-password-guesser {
// 	justify-self: center;
// }

#pg-database {
	td, th {
		background-color: #e1ead8;
		padding-left: 20px;
		padding-right: 20px;
		border: 1px solid #7c8573;
	}
	th {
		background-color: #acb5a3;
	}
}
