#pg-database {
	max-width: 100%;
	.overflow-table {
		padding: 0px !important;
		max-width: 100%;
		overflow: auto;
	}
	td, th {
		background-color: #e1ead8;
		padding-left: 20px;
		padding-right: 20px;
		border: 1px solid #7c8573;
	}
	th {
		background-color: #acb5a3;
	}
}

#pg-checker, #pg-hints {
	max-width: 1000px;
	details {
		border: 1px solid;
		border-radius: 5px;
		padding: 0.5rem;
	}
	summary {
		font-weight: bold;
		padding: 0.5rem;
	}
	details[open] {
		padding: 0.5rem;
	}
}
