img {
  max-width: 100%;
  object-fit: cover;
}

canvas {
  position: absolute;
}

body, html {
  max-height: 100%
}

#go-button {
  vertical-align: middle
}

.result-p {
  vertical-align: middle;
  font-size: 18px;
}

#result-title {
  margin-top: 50px;
  visibility: hidden;
}

#result-div {
  text-align: center;
}