img.chapter-icon {
  fill: red;
  background-color: #7280ce;
  width: 20% !important;
  border: 5px #7280ce solid;
  border-radius: 4px;
}

.chapter-list {
  margin-top: 1em;
}

.chapter-list-item p {
  color: #000;
}
