img.chapter-icon {
  background-color: #7280ce;
  border: 5px #7280ce solid;
  border-radius: 4px;
}

.chapter-list {
  margin-top: 1em;
}

.chapter-list p {
  color: #000;
}

#chapter-section-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

#chapter-section-buttons a.btn-menu {
  padding: 1rem 0.3rem;
  margin-bottom: 1rem;
  color: white !important;
  background-color: #3f51b5;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 115%;
}
