@import "node_modules/dragula/dist/dragula";

.matrix-row input {
  display: inline-block;
  width: 20%;
  margin-bottom: 3px;
  font-family: monospace;
}

.draggable {
  touch-action: none;
  cursor: grab;
  &.gu-mirror {
    cursor: grabbing;
    opacity: 1 !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

.content {
  background-color: #fff;
}

#output-container {
  > div {
    > span {
      display: inline !important;
    }
  }
}


#matrix-output,
#vector-output,
#expanded-matrix {
  > span {
    display: inline !important;
  }
}

.dismiss-eqtn {
  margin-left: 14rem;
  &.vector {
    margin-left: 8rem;
  }
}
