#interactive-unicode-length textarea {
  min-height: 10rem;
}

#interactive-unicode-length .btn {
  width: 100%;
  height: initial;
  line-height: 1.5rem;
  padding: 0.5rem;
}

#interactive-unicode-length p {
    text-align: left;
}

#interactive-unicode-length-bit-lengths {
    float: right;
}
