#interactive-big-number-calculator button {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0.5rem;
  text-transform: none;
}
#interactive-big-number-calculator textarea,
#interactive-big-number-calculator div#interactive-big-number-calculator-result {
  font-family: monospace;
  font-size: 1.2em;
}
#interactive-big-number-calculator textarea {
  border: 1px solid #9e9e9e;
  padding: 0.1em 0.3em;
  margin: 0;
}
#interactive-big-number-calculator div#interactive-big-number-calculator-result {
  word-wrap: break-word;
}
#interactive-big-number-calculator div#interactive-big-number-calculator-result.error {
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}
#interactive-big-number-calculator textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none !important;
}
