/*
 * CSS for creating panels in CSFG within interactives
 * Use panel HTML structure found within html-templates.conf
 */

ul.panel li.panel-selector {
  overflow: auto;
}
ul.panel p {
  margin: 1rem 0;
  padding: 0;
}
ul.panel .collapsible-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 1rem;
  line-height: 1.2rem;
  background-color: #EEE;
}
ul.panel .collapsible-body {
  border: none;
  padding: 0 1rem;
}
ul.panel .dropdown-menu-arrow {
  position: relative;
  float: right;
  display: inline-block;
  color: rgba(0, 0, 0, 0.870588);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
ul.panel .active .dropdown-menu-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
