@import "node_modules/nouislider/distribute/nouislider";

#interactive-cmy-mixer .noUi-pips {
  padding-top: 5px;
}
#interactive-cmy-mixer-container {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}
#interactive-cmy-mixer-result {
  width: 22%;
	background: rgb(127, 127, 127);
  color: rgb(127, 127, 127);
	border: 1px solid black;
	box-shadow: 0 0 10px;
}
#interactive-cmy-mixer-sliders {
  width: 72%;
}
#interactive-cmy-mixer-sliders > div {
  padding-bottom: 5rem;
}
#interactive-cmy-mixer-sliders > div:last-child {
  padding-bottom: 3rem;
}
.interactive-cmy-mixer-slider {
  margin-top: 0.2rem;
}

/* CMY colours */
#interactive-cmy-mixer-sliders > div:nth-child(1) .noUi-connect {
	background: cyan;
}
#interactive-cmy-mixer-sliders > div:nth-child(2) .noUi-connect {
	background: magenta;
}
#interactive-cmy-mixer-sliders > div:nth-child(3) .noUi-connect {
	background: yellow;
}

/* Settings for displaying on small screens */
@media (max-width: 259px) {
  #interactive-cmy-mixer-container {
    flex-direction: column;
    padding-right: 0rem;
  }
  #interactive-cmy-mixer-result {
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
  }
  #interactive-cmy-mixer-sliders {
    width: 100%;
  }
  #interactive-cmy-mixer .noUi-pips {
    display: none;
  }
  #interactive-cmy-mixer-sliders > div {
    padding-bottom: 1rem;
  }
}
