#persona-carousel {
  font-size: 12pt;
  text-align: start;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 4px;
  background-color: #333333;
  color: #ffffff;
}

.bottom-row {
  padding-top: 20px;
}

.persona-portrait {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
