#interactive-ncea-encoding-selector div.selector {
  border: 1px solid black;
  margin: 1rem 0;
}
#interactive-ncea-encoding-selector div.flex-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#interactive-ncea-encoding-selector div.flex-item {
  text-align: center;
  flex: 1 1 auto;
  border: 1px solid black;
  width: 25%;
  padding: 0.5rem;
  /* Center align contents */
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  transition: .1s ease-out;
}
#interactive-ncea-encoding-selector div.flex-item div.selectable-item {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid grey;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .1s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#interactive-ncea-encoding-selector div.flex-item div.selectable-item:not(.disabled):hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}
#interactive-ncea-encoding-selector div.flex-item div.selectable-item.disabled {
  border-color: #dcdcdc;
  color: #dcdcdc;
  cursor: default;
}
#interactive-ncea-encoding-selector div.flex-item div.selectable-item.selected {
  background-color: #a2d8ff;
  border-color: #6fa0c3;
}
#interactive-ncea-encoding-selector div.flex-item-title {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #a2d8ff;
}
#interactive-ncea-encoding-selector .heading {
  font-weight: bold;
  font-size: 1.2rem;
}
#interactive-ncea-encoding-selector div.heading.flex-item-level.valid {
  background-color: #8def8d;
}
#interactive-ncea-encoding-selector div.heading.flex-item-topic.valid {
  background-color: #cfebff;
}
#interactive-ncea-encoding-selector div#selector-guides:empty {
  border: none;
}
@media (max-width: 600px) {
  #interactive-ncea-encoding-selector div.flex-item-title {
    width: 100%;
  }
  #interactive-ncea-encoding-selector div.flex-item-topic {
    width: 100%;
  }
}
