.sorting-algorithms-interactive-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item-box-content {
  width: ;
}

.sorting-algorithms-interactive-item {
  width: 12%;
}

.item-box-content img,
.ordered-box-content img {
  height: auto;
  width: 95%;
}

.sorting-algorithms-interactive-scale {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border: 2px solid red;
}



.sorting-algorithms-interactive-item img {
  height: 100%;
}

#scale {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  transition-duration: 1s
}

.sorting-algorithms-interactive-scale #left-scale,
.sorting-algorithms-interactive-scale #right-scale,  {
  position: relative;
  flex-basis: calc((90vw - 200px) / 3);
  height: calc((90vw - 200px) / 3);
  background: white;
  border: 1px solid red;
  overflow: hidden;
  margin: 0px;
}

#check-order-result-text-correct,
#check-order-result-text-incorrect {
  display: none;
}

#comparison-counter-prefix, #comparison-counter-number {
  display: inline-block;
}
