/*.box {
	min-height: 50px;
	min-width: 50px;
	border: 1px solid #000;
}
*/

#sorting-algorithms-interactive #content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  border: 2px red solid;
}

/*.column {
  flex-basis: calc(50% - 15px);
}*/

#sorting-algorithms-interactive .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-algorithms-interactive-item.flex-item {
  position: relative;
  flex-basis: calc((90vw - 200px) / 8);
  height: calc((90vw - 200px) / 8);
  background: white;
  border: 1px solid red;
  overflow: hidden;
  margin: 0px;
}

.sorting-algorithms-interactive-item.flex-item-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting-algorithms-interactive-item img {
  height: 100%;
}

#scale {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

.sorting-algorithms-interactive-scale #left-scale,
.sorting-algorithms-interactive-scale #right-scale,  {
  position: relative;
  flex-basis: calc((90vw - 200px) / 3);
  height: calc((90vw - 200px) / 3);
  background: white;
  border: 1px solid red;
  overflow: hidden;
  margin: 0px;
}


/*.column .other {
  padding: 15px;
  border: 1px solid black;
  padding-bottom: 35px; 
}*/

/*@media (max-width: 768px) {
  .flex-item {
    flex-basis: calc((100vw - 200px) / 3);
    height: calc((100vw - 200px) / 3);
  }  
  .flex-item:nth-child(n+4)  {
    margin-top: 12px;
  }  
}
@media (max-width: 480px) {
  .flex-item {
    flex-basis: calc((100vw - 200px) / 2);
    height: calc((100vw - 200px) / 2);
  }  
  .flex-item:nth-child(n+3)  {
    margin-top: 15px;
  }  
}
*/
