{% load static %}
{% load i18n %}

<div class="row interactive center-align" id="interactive-sorting-algorithm-comparison">
   <div class="col s12">
     <p>Click an image to play sorting animations</p>
   </div>
   <div class="col s6">
     <img id="sorting-algorithm-comparison-selection-sort" src="{% static 'interactive/sorting-algorithm-comparison/img/initial-sort.gif' %}">
     <p class="sorting-algorithm-comparison-subtitle">{% trans "Selection sort" %}</p>
   </div>
   <div class="col s6">
     <img id="sorting-algorithm-comparison-quick-sort" src="{% static 'interactive/sorting-algorithm-comparison/img/initial-sort.gif' %}">
     <p class="sorting-algorithm-comparison-subtitle">{% trans "Quick sort" %}</p>
   </div>
   <div class="col s12">
     <p id="sorting-algorithm-comparison-credit"><em>Animations provided by David Martin from <a href="http://www.sorting-algorithms.com/">www.sorting-algorithms.com</a></em></p>
   </div>
   <!-- Preload the images so they start at the same time -->
   <img id="sorting-algorithm-comparison-selection-sort-animation" class="sorting-algorithm-comparison-preload" src="{% static 'interactive/sorting-algorithm-comparison/img/selection-sort.gif' %}">
   <img id="sorting-algorithm-comparison-quick-sort-animation" class="sorting-algorithm-comparison-preload" src="{% static 'interactive/sorting-algorithm-comparison/img/quick-sort.gif' %}">
 </div>
