@import "node_modules/nouislider/distribute/nouislider";

/* Distance between bottom of slider and pips */
#interactive-colour-matcher .noUi-pips {
  padding: 0px;
}
/* Colour of pips */
#interactive-colour-matcher .noUi-marker-large {
  background-color: #000;
}
/* Size of pips */
#interactive-colour-matcher .noUi-pips-horizontal,
#interactive-colour-matcher .noUi-marker-large {
  height: 10px;
  top: 9px;
  pointer-events: none;
  opacity: 0.4
}
#interactive-colour-matcher .noUi-target,
#interactive-colour-matcher .noUi-origin {
  border-radius: 0 !important;
}
/* Hide slider values */
#interactive-colour-matcher .noUi-value {
  display: none;
}
/* Slider Padding */
#interactive-colour-matcher .interactive-colour-matcher-sliders {
  padding-left: 0.5rem;
  padding-right: 1.5rem;
}
/* Slider Height */
#interactive-colour-matcher .interactive-colour-matcher-sliders > div {
  padding-bottom: 1.5rem;
}
#interactive-colour-matcher .flex-parent {
  display: flex;
  flex-wrap: wrap;
}
#interactive-colour-matcher .flex-parent-column {
  flex-direction: column;
}
#interactive-colour-matcher .flex-child {
  flex: 1;
}
#interactive-colour-matcher .flex-child-sliders {
  flex: 2;
}
@media (max-width: 390px) {
  #interactive-colour-matcher .flex-child-sliders {
    flex-basis: 100%;
  }
}
#interactive-colour-matcher .section {
  margin: 1rem 0;
  padding: 0 1rem;
}
#interactive-colour-matcher .section-representation {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
#interactive-colour-matcher .hexadecimal {
  display: none;
}
#interactive-colour-matcher .bordered {
  border: 1px solid #CCC;
  border-radius: 5px;
}
#interactive-colour-matcher .bit {
  text-align: center;
  border: 3px solid black;
  font-family: monospace;
  font-size: 1.5rem;
  margin: 1px;
  flex: 0 1 1.3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#interactive-colour-matcher button {
  margin-bottom: 1rem;
  text-transform: initial;
}
#interactive-colour-matcher h6 {
  font-weight: bold;
}
#interactive-colour-matcher .representation-text {
  font-family: monospace;
}
#interactive-colour-matcher .hexadecimal .representation-text {
  font-size: 1.5rem;
}
.interactive-colour-matcher-result {
  text-align: center;
	background: rgb(127, 127, 127);
  min-height: 4rem;
}
/* RGB colours */
div.interactive-colour-matcher-sliders > div:nth-child(1) .noUi-connect {
	background: red;
}
div.interactive-colour-matcher-sliders > div:nth-child(2) .noUi-connect {
	background: lime;
}
div.interactive-colour-matcher-sliders > div:nth-child(3) .noUi-connect {
	background: blue;
}
/* Fade sliders if disabled */
div.interactive-colour-matcher-slider {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
div.interactive-colour-matcher-slider[disabled=true] {
  opacity: 0.5;
}

#interactive-colour-matcher p,
#interactive-colour-matcher h5,
#interactive-colour-matcher h4,
.interactive-colour-matcher-heading {
  text-align: left;
}
