#add-bin {
	float:left;
	margin-top: 15px;
}

.btn, .btn:hover {
	background-color: #5f6669;
}
.fill {
	border-right: 1px white solid;
}

.item p {
	font-size: 9px;
	text-align:left;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2px;
	color: white;
}

.left-bin p, .right-bin p {
	font-size: 9px;
	text-align:left;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 2px;
	color: white;
}

.right-bin {
	float: right;
	margin-right: 2px;
}

.left-bin {
	float: left;
}