.text {
    font-size: 1.5rem;
    font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
    text-align: start;
}

.error {
    color: #ff0000;
}

.highlight {
    background-color: #ff7777;
}
