/* Good Calculator */
#interactive-calculator-good button {
  background-color: #1976d2;
}

/* Awful Calculator */
#interactive-calculator-awful button {
  background-color: #512da8;
}
#interactive-calculator-awful .row:nth-child(2n+1) button:hover {
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}
#interactive-calculator-awful .row:nth-child(2n+0) button:hover {
  -ms-transform: scale(1.6, 1.6);
  -webkit-transform: scale(1.6, 1.6);
  -moz-transform: scale(1.6, 1.6);
  transform: scale(1.6, 1.6);
}

/* General Calculator Styling */
#interactive-awful-calculator-interface .calculator {
  border: 2px solid #EFEFEF;
  border-radius: 2px;
  margin-top: 1rem;
  padding: 1rem !important;
}
#interactive-awful-calculator-interface button {
  width: 100%;
  padding: 0;
}
.col.s9,
.calculator-input {
  height: 36px;
}
.calculator-input {
  margin: 0;
  padding: 0 0.3rem;
  width: 100%;
  display: inline-block;
  background-color: #EFEFEF;
  color: #000;
  text-align: right;
  font-size: 1.8rem;
  border: none;
  border-radius: 2px;
}
#interactive-awful-calculator-interface .row {
  margin: 0.5rem 0;
}
#interactive-awful-calculator-interface .col {
  padding: 0 0.5rem;
}
