.interactive-compression-comparer-high {
  position: relative;
  overflow: hidden;
}
.interactive-compression-comparer-high img {
  width: 100%;
  display:block;
  max-width: none;
}
.interactive-compression-comparer-high .interactive-compression-comparer-low {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.interactive-compression-comparer-high .interactive-compression-comparer-handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
.interactive-compression-comparer-high .interactive-compression-comparer-handle:after {  /* Big orange knob  */
  position: absolute;
  top: 50%;
  width: 66px;
  height: 66px;
  margin: -32px 0 0 -32px;
  content:'\21d4';
  color:white;
  font-weight:bold;
  font-size:36px;
  text-align:center;
  line-height:64px;
  background: #ffb800; /* @orange */
  border:1px solid #e6a600; /* darken(@orange, 5%) */
  border-radius: 50%;
  transition:all 0.3s ease;
  box-shadow:
    0 2px 6px rgba(0,0,0,.3),
    inset 0 2px 0 rgba(255,255,255,.5),
    inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
}
.interactive-compression-comparer-high .interactive-compression-comparer-handle.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height:50px;
  font-size:30px;
}
.interactive-compression-comparer-clearfix {
  clear: both;
  margin-top: 1rem;
}
.interactive-compression-comparer-left {
  float: left !important;
}
.interactive-compression-comparer-right {
  float: right !important;
}
