html {
    font: normal 16px 'Tahoma', sans-serif;
}

#digit-boxes input, #multipliers input, #sums input {
    display: inline;
    width: 10px;
}

input {
    display: block;
    margin-top: 10px;
}


