{% extends "base.html" %}

{% block title %}
  About
{% endblock title %}

{% block page_heading %}
  <h1 id="about" class="section-heading anchor-link">About</h1>
{% endblock page_heading %}

{% block content %}

  <p>
    The Computer Science Field Guide is an online resource for teaching Computer Science to students.
    This guide was initially developed as an online interactive textbook to support the new achievement standards in Computer Science that were being rolled out in New Zealand (2011-2013), and is now being adapted for use all over the world.
    The New Zealand project started in 2012, with the first materials released to the public in 2013.
    The development of this guide focuses on content in the form of text (both for students and guidance for teachers), developing images, designing interactives (educational games or demostrations), and tuning the existing chapters. 
  </p>

  <p>
  	This project is open source and <a href="https://github.com/uccser/cs-field-guide">available on GitHub</a>, using a documentation generator built specifically for this guide, and is maintained by a small team of developers.
  </p>

  <p>
  	{version-specific-content version="student"}
	{conditional-content context="guide" variable="teacher_version_present"}
	If you are a teacher (or involved in education), you can join the [CSFG teachers group](https://groups.google.com/forum/?fromgroups#!forum/csfg-teachers) to receive updates and also [access the teacher's version of the guide here](teacher/index.html).
	{conditional-content end}
	{version-specific-content end}
  </p>


  <h2>Press Contact Details</h2>

  <h4>Tim Bell</h4>
  <p>
    Project Lead
  	<br>
  	<a href="mailto:tim.bell@canterbury.ac.nz">tim.bell@canterbury.ac.nz</a>
  </p>


{% endblock content %}


