{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load render_interactive_link %}

{% block custom_title %}
  {% trans "Computer Science Field Guide" %}
{% endblock custom_title %}

{% block body_container %}
  <div class="jumbotron jumbotron-fluid{% if teacher_mode %} teacher-mode{% endif %}">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-6 mx-auto col-md-4 order-md-2">
          <img id="homepage-logo" src="{% static 'img/logos/guide-logo-light.png' %}">
        </div>
        <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
          <h1 class="mb-3 bd-text-purple-bright">
            {% blocktrans trimmed %}
              Computer Science<br>Field Guide
            {% endblocktrans %}
          </h1>
          <p class="lead">
            {% blocktrans trimmed %}
              An online interactive resource for high school students learning about computer science.
            {% endblocktrans %}
          </p>
          <div class="d-flex flex-column flex-md-row lead mb-3">
            <a href="{% url 'chapters:index' %}" class="btn btn-lg btn-outline-light">{% trans "View the chapters" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- The following content is not translated yet as the homepage is to be redesigned -->
    <p>A teacher's guide is available, read the <a href="{% url 'appendices:appendix' 'about' %}">About section</a> for more details to access this.</p>

    <p>This guide features interactive activities within some of the chapters. These should work with any modern browser updated in the last year, but we are continually expanding the compatibility of these. This guide is open source and <a href="https://github.com/uccser/cs-field-guide">available on GitHub</a>.</p>
  </div>
{% endblock body_container %}
