
#next-button {
  display:none;
}

#user-input-block {
  display:none;
}
#text-to-encode-textarea {
  
    width: 50em;
    height: 10em;
    display:inline;
    
}

#text-area-encode-button{
  display: block;
}
.highlight-div-in-input {
  /*display: absolute;*/
  width: 1.0ch;
  min-height: 1.2em;
  z-index: 10;
  position: absolute;
  top: 0;
  pointer-events: none;

}

.input-highlight-container-div {
  display: inline;
  overflow: auto;
  position: relative;
  pointer-events: auto;
}

.net-span {
  position: inline;
  z-index: 6
  background-color: rgba(0, 0, 0, 0.2);

}

.highlight-square {
  /*padding: 1.5px;*/
/*  border-style: solid;
  border-width: 1px;*/
  
}


.net-div {
  opacity: 0.2;
  position: inline;

  z-index: 5;
  
  min-height: 1.25em;
  width: 1ch;

  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  /*
  top: 0em;
  left: 2ch;
  */
}

.interactive-input{
  border: 1px solid rgba(0, 0, 0, 1.0);
  letter-spacing: 0.5px;
    /*font-family: "Courier New", Courier, monospace

    display: inline;	
    resize: vertical;
    */
}

.highlighted {
  background-color: rgba(0, 200, 0, 0.2);
}

.input-correct {
  border: 1px solid rgba(0, 255, 0, 0.8);
}

.input-incorrect {
  border: 1px solid rgba(255, 0, 0, 0.8);
}

#index-counter {
  float: left;
}

#interactive-displayed-text {
	font-family: "Courier New", Courier, monospace;
  padding: 20px;
  font-size: 200%;
  position: relative;
  line-height: 125%;
}

.index-holding-span {
  font-size: 33.3333333%;
  display: inline-block;
  text-align: center;
  visibility: hidden;
  line-height: 1em;
  /*width: 3ch;*/

}

.jsplumb-overlay {
  font-size: 100%;
}



.displayed-text { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}