#remote-simple-container {
  border: 2px solid;
  border-color: #c4c4c4;
  background-color: #d1caca;
  border-radius: 10px;
}

.btn-dark-blue {
  color: #fff;
  background-color: #0066cc;
  border-color: #0066cc;
}
