#interactive-payment-interface-message{
  font-weight: bold;
}
label{
  color: black;
}
#interactive-payment-interface input:focus {
  border-bottom: 1px solid #444;
  box-shadow: 0 1px 0 0 #444;
}
div#interactive-payment-interface-message.success {
  color: green;
}
div#interactive-payment-interface-message.error {
  color: red;
}
