/* Distance between bottom of slider and pips */
#interactive-colour-matcher .noUi-pips {
  padding-top: 0px;
}
/* Size of large pips */
#interactive-colour-matcher .noUi-marker-horizontal.noUi-marker-large {
  height: 10px;
}
/* Distance between pips and their values */
#interactive-colour-matcher .noUi-value-horizontal {
  padding-top: 10px;
}
/* Distance between sliders */
#interactive-colour-matcher  .interactive-colour-matcher-sliders > div {
  padding-bottom: 3rem;
}
.interactive-colour-matcher-row {
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.interactive-colour-matcher-col {
  flex: 1;
  margin: 0 1rem;
  min-width: 200px;
}
#interactive-colour-matcher-results {
  display: flex;
}
.interactive-colour-matcher-result {
  flex: 1 1 auto;
  text-align: center;
	background: rgb(127, 127, 127);
  color: white;
  font-size: 1.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* RGB colours */
div.interactive-colour-matcher-sliders > div:nth-child(1) > div.interactive-colour-matcher-slider {
	background: red;
}
div.interactive-colour-matcher-sliders > div:nth-child(2) > div.interactive-colour-matcher-slider {
	background: lime;
}
div.interactive-colour-matcher-sliders > div:nth-child(3) > div.interactive-colour-matcher-slider {
	background: blue;
}
/* Fade if disabled */
div.interactive-colour-matcher-slider {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
div.interactive-colour-matcher-slider[disabled=true] {
  opacity: 0.5;
}
